[submodule "cot"]
	path = cot
	url = https://github.com/coteditor/cot.git
[submodule "Carthage/Checkouts/Sparkle"]
	url = https://github.com/sparkle-project/Sparkle.git
	path = Carthage/Checkouts/Sparkle
