<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
				<string>txt</string>
				<string>c</string>
				<string>h</string>
				<string>m</string>
				<string>mm</string>
				<string>cpp</string>
				<string>cc</string>
				<string>css</string>
				<string>js</string>
				<string>html</string>
				<string>htm</string>
				<string>shtml</string>
				<string>tex</string>
				<string>TEX</string>
				<string>pl</string>
				<string>cgi</string>
				<string>php</string>
				<string>php3</string>
				<string>rb</string>
				<string>sh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docIcon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Text Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CEDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>CotEditor</string>
	<key>CFBundleIconFile</key>
	<string>appIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.aynimac.CotEditor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>cEd1</string>
	<key>CFBundleVersion</key>
	<string>1.1.1</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>CEApplication</string>
	<key>SUFeedURL</key>
	<string>http://coteditor.sourceforge.jp/appcast.xml</string>
</dict>
</plist>
