*.mode1
*.mode1v3
*.mode2
*.mode2v3
*.mode1v3
*.pbxuser
*.perspective 
*.perspectivev3
*.pyc 
*~.nib/
build/*
RegularExpression/oniguruma/intel
RegularExpression/oniguruma/universal
RegularExpression/oniguruma/x86_64
*.xcworkspace*
*.xcuserdata*
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db


.DS_Store
