@charset "UTF-8";

/*
 Additional Help Style Sheet for Index Pages
 
 CotEditor
 https://coteditor.com
 
 © 2006-2018 CotEditor Project
*/


body > h1::before {
	display: none;
}

ul {
	padding: 0;
	list-style-type: none;
}

body > ul li {
	border-bottom: 1px solid hsl(0,0%,85%);
	padding: 0.3em 0;
}
