/*
 * CotEditor Help Additional Style Sheet for Index Pages
 */
 
h1:before {
	display: none;
}

ul {
	margin: 1em 0;
	padding: 0;
	background: none;
	border: none;
	list-style-type: none;
}

li {
	border-bottom: 1px solid hsl(0,0%,80%);
	padding: 2px 0;
}
