/*
 * CotEditor Help Standard Style Sheet for index page
 */
 
h1:before {
	display: none;
}
 
section {
	margin: 1em 0;
}

section ul {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	list-style-type: none;
}

section li {
	border-bottom: 1px solid hsl(0,0%,80%);
	padding: 2px 0;
}
