@charset "UTF-8";

/*
 Additional Help Style Sheet for Release Notes
 
 CotEditor
 https://coteditor.com
 
 Created on 2014 by 1024jp
 
 © 2014-2020 CotEditor Project
*/


article ul, ol {
	margin: 0;
	padding: 0 1.5em;
}
article li {
	margin: 0.2em 0;
}
article ul li {
	list-style-type: circle;
}

footer {
	font-size: 90%;
	color: -apple-system-secondary-label;
	margin-top: 2em;
	padding: 0 1em;
}
footer::before {
	content: '';
	display: block;
	width: 140px;
	border-top: 1px solid -apple-system-separator;
	margin: 0.8em 0;
}

p.note strong {
	text-decoration: underline;
}

article+article {
	margin-top: 4em;
	padding-top: 2em;
}

article > header h1 {
	font-size: 140%;
	font-weight: normal;
	margin: 0;
}
article > header p {
	color: -apple-system-secondary-label;
	margin: 0;
}
article h2 {
	font-size: 105%;
	margin-bottom: 0.5em;
}

.none {
	color: -apple-system-secondary-label;
}

.trivial,
.label {
	color: hsl(198, 40%, 45%);
	border: 1px solid;
	border-radius: 3px;
	padding: 0 0.2em;
}
.trivial {
	color: hsl(0, 0%, 60%);
}
p.important {
	display: inline-block;
	color: hsl(203, 30%, 30%);
	background: hsl(203, 50%, 98%);
	border: 1px solid hsl(203, 20%, 70%);
	border-radius: 3px;
	padding: 0.1em 0.5em;
}

/* highlights */
.highlights {
	font: 'Helvetica Neue';
	border-top: 2px solid hsl(203, 20%, 90%);
	border-bottom: 2px solid hsl(203, 20%, 90%);
	padding: 1em 0;
}
.highlights h1 {
	margin-bottom: 0.5em;
}
.highlights dt::before {
	content: '✔︎';
	color: hsl(90, 50%, 50%);
	font-size: 140%;
	vertical-align: -0.05em;
	margin-right: 0.3em;
}
.highlights dt {
	font-weight: bold;
}
.highlights dd {
	margin-bottom: 1em;
}
