/*
 * CotEditor Help Standard Style Sheet
 */
 
body {
	margin: 0 0 1em 0;
	padding: 0;
	font-family: 'Helvetica Neue';
	font-size: 9pt;
	line-height: 130%;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

#contents {
	margin: 1.5em 1.5em 0 1.5em;
}

hr {
	opacity: 0.33;
}

code {
	font-family: 'menlo', monospace;
}

h1 {
	font-size: 130%;
	margin: 1em 0;
}
h1:before {
	content: url(../gfx/icon_32x32@2x.png);
	-webkit-transform: scale(0.5);
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align:9px;
	margin-right:26px;
}
h2 {
	font-size: 110%;
	line-height: 110%;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	clear: both;
}
h3 {
	font-size: 100%;
	line-height: 110%;
}

ol, ul, pre {
	padding: 0.6em 2.5em 0.2em;
	margin: 0.4em 0;
	border: 1px solid #ccc;
	border-radius: 1px;
	background-color: #e6edff;
	clear: both;
}

ul {
	list-style-type: square;
}

li {
	margin-bottom: 0.5em;
}

ul ul, ul ol {
	padding: 0 3em;
	margin: 0.5em 0;
	border: none;
}

ul + ul, ol + ol, ul + ol, ol + ul {
	margin-top: 1em;
}

ul.topicbox {
	background-color: white;
	border: 1px dotted #999;
}

ul.rel_items {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: none;
	background-color: white;
	font-size: 90%;
}

p.point {
	padding: 1em 2em 1em 1.5em;
	margin: auto -1%;
	border: 1px solid #ccc;
	background-color: #e6edff;
}

em {
	font-weight: bold;
	font-style: normal;
}

p#relbar {
	text-align: right;
}

.figmarker {
	font-weight: bold;
	color: red;
}

img.snapshot {
	float: left;
	margin: 0 1em 1em 0;
}

img#h1icon {
	margin: 0 8px -8px 0;
}

dt {
    font-weight: bold;
    margin-left: 0.5em;
}
dd {
	margin-left: 2.5em;
}
dd + dt {
	margin-top: 1em;
}
dl dl dd + dt {
	margin-top: 0.5em;
}
dd + dd dl {
	margin-top: 0.5em;
}

table {
	border-collapse: collapse;
	empty-cells: show;
	margin: 1em 0;
}
table caption {
  text-align: left;
  margin: 0.4em 0;
}
table thead tr:first-child > * {
  border-top: none;
}
table thead tr:last-child > * {
	border-bottom: 1px solid #888;
}

th, td {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 3px 0.5em;
}
th {
	background-color: #e6edff;
	font-weight: normal;
	white-space: nowrap;
}
th.lh,
tbody th:first-child {
	text-align: left;
	border-right: 1px solid #ccc;
}

tt, pre {
	font-family: 'Courier', 'Courier New', monospace;
}
