@charset "UTF-8";

/*
 Help Style Sheet for Top Page
 
 CotEditor
 https://coteditor.com
 
 © 2006-2022 CotEditor Project
*/


:root {
	-webkit-text-size-adjust: 100%;
	font: 13px/1.5 -apple-system, sans-serif;
	color: -apple-system-label;
}
body {
	margin: 1em 2em;
}

a {
	text-decoration: none;
}
a:link, a:visited {
	color: -apple-system-blue;
}
a:hover {
	text-decoration: underline;
}

header {
	position: relative;
	height: 88px;
	padding: 12px 0;
	border-bottom: 1px solid -apple-system-quaternary-label;
	padding-left: 100px;
}
header img {
	position: absolute;
	top: 0;
	left: 0;
	width: 96px;
}
header h1 {
	font-size: 220%;
	font-weight: 600;
	margin: 0 0 0.4em;
}
header .toc::before {
    display: inline-block;
	content: url(../gfx/toc.svg);
	vertical-align: -2px;
	padding-right: 0.3em;
}



/* topic */

.topic {
	padding: 1.5em 0;
	min-height: 160px;
	border-bottom: solid 1px -apple-system-grid;
}
.topic:first-of-type {
	margin-top: 3em;
}

.topic h2 {
	margin-top: 0;
	font-weight: 500;
	font-size: 130%;
}

.topic img.snapshot {
	width: 200px;
	border: 0.5px solid -apple-system-secondary-label;
	border-radius: 3px;
	float: left;
	margin: 0 1em 1em 0;
}

.topic ul {
	list-style-type: none;
}
.topic ul li a::after {
	content: ' ›';
	opacity: 0.8;
}

.topic dl {
	column-count: 2;
	column-gap: 3em;
}
.topic dl > * {
	margin-left: 0;
	-webkit-column-break-inside: avoid;
}
.topic dl dt {
	font-weight: 500;
	margin: 0;
	break-after: avoid-column;
}
.topic dl dd {
	margin-bottom: 1em;
}



/* dark mode */

:root {
	color-scheme: light dark;
}
