@charset "UTF-8";

/*
 Help Style Sheet for Top Page
 
 CotEditor
 https://coteditor.com
 
 © 2006-2020 CotEditor Project
*/


:root {
	-webkit-text-size-adjust: 100%;
	font: 10pt/1.5 -apple-system, sans-serif;
	color: -apple-system-label;
}
body {
	margin: 1em auto;
	padding: 0 1em;
	max-width: 7in;
}

a {
	text-decoration: none;
}
a:link, a:visited {
	color: hsl(211, 67%, 50%);
}
a:hover {
	text-decoration: underline;
}

section {
	float: left;
}
section#leftbox {
	width: 190px;
	text-align: center;
	padding: 28px 0;
}
section#rightbox {
	width: 260px;
	padding-left: 30px;
	margin-left: 20px;
	border-left: 1px solid -apple-system-quaternary-label;
}

#leftbox h1 {
	font-size: 180%;
	font-weight: 300;
	margin: 0.5em 0;
}

dt {
	font-size: 120%;
	font-weight: normal;
	margin-top: 0.8em;
}
dd {
	margin-left: 0;
}


/* dark mode */

:root {
	color-scheme: light dark;
}
