/*
 * CotEditor Help Style Sheet for CotEditorHelp.html
 */
 
body {
	font: 10pt/1.5 'Helvetica Neue', sans-serif;
	color: hsla(0,0%,0%,0.8);
	margin: 0;
	padding: 1.5em;
}

a {
	text-decoration: none;
}
a:link {
	color: hsl(206,50%,50%);
}
a:hover {
	text-decoration: underline;
}

section {
	float: left;
}
section#leftbox {
	width: 190px;
	text-align: center;
	padding: 28px 0;
}
section#rightbox {
	width: 260px;
	padding-left: 30px;
	margin-left: 20px;
	border-left: 1px solid hsl(0,0%,85%);
}

#leftbox h1 {
	font-size: 180%;
	font-weight: 200;
	margin: 0.5em 0;
}

dt {
	font-size: 120%;
	font-weight: normal;
	margin-top: 1em;
}
dd {
	margin-left: 0;
}
