@charset "UTF-8";

/*
 Help Style Sheet for Top Page
 
 CotEditor
 https://coteditor.com
 
 © 2006-2021 CotEditor Project
*/


:root {
	-webkit-text-size-adjust: 100%;
	font: 13px/1.5 -apple-system, sans-serif;
	color: -apple-system-label;
}
body {
	margin: 1em auto;
}

a {
	text-decoration: none;
}
a:link, a:visited {
	color: -apple-system-blue;
}
a:hover {
	text-decoration: underline;
}

header {
	text-align: center;
	padding: 26px 0;
	background: linear-gradient(white, hsl(220,6%,95%));
}

@media (prefers-color-scheme: dark) {
	header {
	background: linear-gradient(transparent, hsl(220,6%,10%));
	}
}
main {
	max-width: 7in;
	margin: 1em auto;
	padding: 0 1em;
}

header h1 {
	font-size: 240%;
	font-weight: 500;
	margin: 0.5em 0;
}

dt {
	font-size: 120%;
	font-weight: normal;
	margin-top: 0.8em;
}
dd {
	margin-left: 0;
}


/* dark mode */

:root {
	color-scheme: light dark;
}
