@charset "UTF-8";

/*
 Additional Help Style Sheet for Topic Page
 
 CotEditor
 https://coteditor.com
 
 © 2006-2019 CotEditor Project
*/


.topic {
	padding: 1em;
	min-height: 200px;
	border: solid 1px -apple-system-container-border;
	margin-bottom: 2em;
	border-radius: 3px;
}

.topic h2 {
	margin-top: 0;
}

.topic img.snapshot {
	width: 200px;
	border: 0.5px solid -apple-system-secondary-label;
	border-radius: 3px;
}

.topic ul,
.topic ol {
	margin-top: 1em;
	margin-left: 210px;  /* img 250px + 10px */
	padding-top: 0;
	clear: none;
	background: none;
	border: none;
}

.topic dl dt {
	font-weight: 600;
}
