@charset "UTF-8";

/*
 Additional Help Style Sheet for Topic Page
 
 CotEditor
 http://coteditor.com
 
 © 2006-2014 CotEditor Project
*/


.topic {
	padding: 0;
	min-height: 200px;
	border: solid 1px hsl(0,0%,80%);
	margin-bottom: 1.5em;
	border-radius: 3px;
}

.topic h2 {
	margin: 0;
	padding: 0.2em 0.5em;
	background-color: hsl(206,25%,92%);
}
.topic p {
	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.topic img.snapshot {
	width: 200px;
	border: 1px solid hsla(0,0%,0%,.25);
	border-radius: 3px;
}

.topic ul,
.topic ol {
	margin-top: 1em;
	margin-left: 210px;  /* img 250px + 10px */
	padding-top: 0;
	clear: none;
	background: none;
	border: none;
}
