
*     { margin: 0; padding: 0 }
body  { font: 12px/1.4 -apple-system, sans-serif; padding: 8px 16px }
h1    { font-size: 18px; margin: 10px 0 }
h2    { font-size: 14px; margin: 0 0 0.2em }
h3    { font-size: 13px; margin: 0 0 0.1em }
em    { font-weight: 600; font-style: normal }

ul    { padding-left: 1.5em }
ul li { margin: 0 0 0.4em; list-style-type: circle }

a:hover         { text-decoration: none }

section         { margin: 2em 0 1em }
section+section { margin-top: 3em }
blockquote pre  { font: 90%/1.3 -apple-system, sans-serif;
                  margin: 1em 0.5em; white-space: pre-wrap;
                  border-left: 3px solid; padding-left: 1em }
h3 span         { font-size: 90%; font-weight: normal }

#Libraries    h3::before { content: '📦 ' }
#InfoSource   h2::before { content: '📚 ' }
#Contributors h2::before { content: '👥 ' }
#Project      h2::before { content: '🔨 ' }

a:link,
a:visited                 { color: hsl(90,45%,45%) }
a:not([href])             { color: hsla( 0, 0%, 0%,0.60) }
blockquote pre            { color: hsla( 0, 0%, 0%,0.50) ; border-color: hsla( 0, 0%, 0%,0.1) }
h3 span                   { color: hsla( 0, 0%, 0%,0.50) }

body.dark                 { color: hsla(0,0%,100%,0.95); background: hsl( 0, 0%,20%) }
body.dark a:link,
body.dark a:visited       { color: hsl(90,55%,55%) }
body.dark a:not([href])   { color: hsla( 0, 0%,100%,0.60) }
body.dark blockquote pre  { color: hsla( 0, 0%,100%,0.50) ; border-color: hsla( 0, 0%,100%,0.1) }
body.dark h3 span         { color: hsla( 0, 0%,100%,0.50) }
