
*     { margin: 0 }
body  { font: 11px/1.6 -apple-system, sans-serif; text-align: center }
h2    { font-size: 11px; font-weight: normal }
.hr   { margin: 1em }

h2    { color: hsl( 0, 0%,60%) }

@media (prefers-color-scheme: dark) {
    body { color: hsla(0,0%,100%,0.95) }
}
