<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$@E</key>
	<string>useSelectionForReplace:</string>
	<key>$@F</key>
	<string>findAll:</string>
	<key>$@G</key>
	<string>findPrevious:</string>
	<key>$@H</key>
	<string>highlight:</string>
	<key>$@I</key>
	<string>toggleIncompatibleCharList:</string>
	<key>$@O</key>
	<string>openHiddenDocument:</string>
	<key>$@P</key>
	<string>runPageLayout:</string>
	<key>$@S</key>
	<string>saveDocumentAs:</string>
	<key>$@T</key>
	<string>openTransparencyPanel:</string>
	<key>$@Z</key>
	<string>redo:</string>
	<key>@"</key>
	<string>openSplitTextView:</string>
	<key>@'</key>
	<string>closeSplitTextView:</string>
	<key>@,</key>
	<string>openPrefWindow:</string>
	<key>@:</key>
	<string>showGuessPanel:</string>
	<key>@;</key>
	<string>checkSpelling:</string>
	<key>@=</key>
	<string>resetFont:</string>
	<key>@?</key>
	<string>showHelp:</string>
	<key>@[</key>
	<string>shiftLeft:</string>
	<key>@]</key>
	<string>shiftRight:</string>
	<key>@a</key>
	<string>selectAll:</string>
	<key>@c</key>
	<string>copy:</string>
	<key>@e</key>
	<string>useSelectionForFind:</string>
	<key>@f</key>
	<string>showFindPanel:</string>
	<key>@g</key>
	<string>findNext:</string>
	<key>@h</key>
	<string>hide:</string>
	<key>@i</key>
	<string>getInfo:</string>
	<key>@j</key>
	<string>jumpToSelection:</string>
	<key>@l</key>
	<string>openGotoPanel:</string>
	<key>@m</key>
	<string>performMiniaturize:</string>
	<key>@n</key>
	<string>newDocument:</string>
	<key>@o</key>
	<string>openDocument:</string>
	<key>@p</key>
	<string>printDocument:</string>
	<key>@q</key>
	<string>terminate:</string>
	<key>@s</key>
	<string>saveDocument:</string>
	<key>@t</key>
	<string>orderFrontFontPanel:</string>
	<key>@v</key>
	<string>paste:</string>
	<key>@w</key>
	<string>performClose:</string>
	<key>@x</key>
	<string>cut:</string>
	<key>@y</key>
	<string>inputYenMark:</string>
	<key>@z</key>
	<string>undo:</string>
	<key>@¥</key>
	<string>inputBackSlash:</string>
	<key>^$@H</key>
	<string>editHexColorCodeAsBGColor:</string>
	<key>^@h</key>
	<string>editHexColorCodeAsForeColor:</string>
	<key>^~@</key>
	<string>focusPrevSplitTextView:</string>
	<key>^~@</key>
	<string>focusNextSplitTextView:</string>
	<key>~@f</key>
	<string>makeQuickFindFieldToFirstResponder:</string>
	<key>~@g</key>
	<string>replaceAndFind:</string>
	<key>~@h</key>
	<string>hideOtherApplications:</string>
	<key>~@r</key>
	<string>recoloringAllStringOfDocument:</string>
	<key>~@</key>
	<string>selectPrevItemOfOutlineMenu:</string>
	<key>~@</key>
	<string>selectNextItemOfOutlineMenu:</string>
</dict>
</plist>
