@charset "UTF-8";

/*
 Additional Help Style Sheet for Release Notes
 
 CotEditor
 https://coteditor.com
 
 Created on 2014 by 1024jp
 
 © 2014-2025 CotEditor Project
*/


article ul li {
	margin: 0.2rem 0;
	list-style-type: circle;
}

footer {
	font-size: 90%;
	color: -apple-system-secondary-label;
	margin-top: 2rem;
}
footer::before {
	content: '';
	display: block;
	width: 10rem;
	border-top: 1px solid -apple-system-separator;
}

article + article {
	margin-top: 4rem;
	padding-top: 2rem;
}

article > header h1 {
	font-size: 160%;
	font-weight: 500;
	margin: 0;
}
article > header p {
	color: -apple-system-secondary-label;
	margin: 0;
}
article h2 {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

.trivial,
.label {
	color: hsl(198, 40%, 45%);
	border: 1px solid;
	border-radius: 0.3rem;
	padding: 0.05rem 0.2rem;
}
.trivial {
	color: -apple-system-secondary-label;
}
p.important {
	color: hsl(203, 30%, 30%);
	background: hsl(201, 40%, 97%);
	border-radius: 0.6rem;
	padding: 0.4rem 0.8rem;
}
