@charset "UTF-8";

/*
 Additional Style Sheet for Release Notes
 
 CotEditor
 https://coteditor.com
 
 © 2014-2025 1024jp
*/

article ul li {
	margin: 0.4rem 0;
	list-style-type: circle;
}

footer {
	font-size: 0.9rem;
	color: -apple-system-secondary-label;
	margin-top: 2rem;
}
footer::before {
	content: '';
	display: block;
	width: 10rem;
	border-top: 1px solid -apple-system-separator;
}

article {
	margin-bottom: 3rem;
}
h1 + article {
	border-top: none;
}

article > header h1 {
	font-size: 1.6rem;
	font-weight: 500;
	margin: 0;
}
article > header p {
	color: -apple-system-secondary-label;
	margin: 0;
}
article h2 {
	margin: 1.5rem 0 0.5rem;
}
article h2 + * {
	margin-top: 0.5rem;
}
.trivial,
.label {
	font-size: 90%;
	color: var(--accent-blue);
	border: 1px solid;
	border-radius: 0.3rem;
	padding: 0 0.2rem;
}
.trivial {
	color: -apple-system-secondary-label;
}
p.important {
	background: var(--accent-background);
	border-radius: 0.6rem;
	padding: 0.4rem 0.8rem;
}
