@charset "UTF-8";

/*
 Standard Style Sheet
 
 CotEditor
 https://coteditor.com
 
 © 2014-2025 1024jp
*/

@import "common.css";

:root {
	--accent-blue: hsl(198, 40%, 45%);
	--accent-green: hsl(80, 60%, 35%);
	--accent-background: hsl(206, 50%, 97%);
}
@media (prefers-color-scheme: dark) {
	:root {
		--accent-background: hsl(206, 30%, 20%);
	}
}

img {
	max-inline-size: 100%;
}
p:lang(ja) {
	text-align: justify;
}

body > h1 {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.2;
	margin-block-end: 1.4rem;
	
	display: flex;
	align-items: flex-start;
	gap: 15px;
}
body > h1::before {
	content: image-set(url(../gfx/icon_32x32@2x.png) 2x);
	display: inline-block;
	position: relative;
	inset-block-start: 4px;
}

body > section,
article {
	border-block-start: 1px solid -apple-system-separator;
	margin-block: 1.5rem;
}
h2 {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.4;
	margin-block: 1rem;
}
h3 {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.1;
	margin-block-start: 1.5rem;
}

figure {
	margin-inline: 0;
}
blockquote {
	border-inline-start: 0.2rem solid -apple-system-grid;
	padding-inline-start: 1rem;
	margin-inline: 0;
}

ul {
	list-style-type: disc;
}
ol,
ul {
	padding-inline: 1.5rem;
}
li p {
	margin-block: 0.5rem;
}
li:first-child p {
	margin-block-start: 0;
}


dt {
	font-weight: 600;
}
dd + dt {
	margin-block-start: 0.5rem;
}

table {
	font-size: 0.95rem;
	border-collapse: collapse;
	empty-cells: show;
	margin-block: 1rem;
}
table tr {
	border-block: 1px solid -apple-system-quaternary-label;
}
table thead tr:first-child {
	border-block-start: 2.5px solid -apple-system-quaternary-label;
}
table tr > * {
	padding-block: 0.5rem;
	padding-inline: 0.6rem;
	text-align: start;
}
table tr > :first-child {
	padding-inline-start: 0;
}
table tr > :last-child {
	padding-inline-end: 0;
}
table thead th {
	padding-block: 0.4rem;
	font-weight: bold;
}
table th {
	font-weight: normal;
	white-space: nowrap;
}
table tbody {
	vertical-align: baseline;
}
table tbody td > * {
	margin-block: 0.5rem;
}
table tbody td > :first-child {
	margin-block-start: 0;
}
table tbody td > :last-child {
	margin-block-end: 0;
}
table tbody ul li {
	margin-block-start: 0.2em;
}
tbody td.center {
	text-align: center;
}


/* classes */

.na {
	color: -apple-system-tertiary-label;
}
em.note:lang(ja) {
	font-weight: inherit;
}
em.tip {
	font-weight: 700;
	font-style: inherit;
}
em.tip::before {
	content: url(../gfx/lightbulb.max.svg);
	display: inline-block;
	position: relative;
	inset-block-start: 4px;
	padding-inline-end: 0.2em;
}

p.addition {
	position: relative;
	text-indent: 0;
	padding-block: 0.8rem;
	padding-inline: 1.2rem;
	border-radius: 0.8rem;
	background: var(--accent-background);
}
p.addition::after {
	content: '';
	position: absolute;
	inset-block-start: -1.8rem;
	inset-inline-start: 4rem;
	margin-inline-start: -1rem;
	border: 1rem solid transparent;
	border-block-end: 15px solid var(--accent-background);
}
p.addition > span:first-child {
	color: -apple-system-secondary-label;
}

a.toc::before {
	display: inline-block;
	content: url(../gfx/toc_secondary.svg);
	vertical-align: -1px;
	padding-inline-end: 0.3rem;
}
a.toc {
	font-size: 15px;
	font-weight: 400;
	position: absolute;
	inset-block-start: 5px;
	color: -apple-system-secondary-label;
}
@media (prefers-color-scheme: dark) {
	a.toc::before {
		content: url(../gfx/toc_secondary-dark.svg);
	}
}

img.appicon {
	vertical-align: text-bottom;
	height: 18px;
}
img.bordered {
	border: 0.5px solid -apple-system-tertiary-label;
	border-radius: 3px;
}
object.symbol {
	vertical-align: -0.05em;
}
p img.appicon:lang(ja),
p object.symbol:lang(ja) {
	padding-inline: 0.2em;
}


/* Syntax highlight */

span.invisible {
	opacity: 0.4;
}

pre.source {
	background: hsl(0, 0%, 98%);
	border: 1px solid -apple-system-separator;
	border-radius: 0.5rem;
	max-inline-size: 50rem;
	padding-block: 0.4rem;
	padding-inline: 0.8rem;
	overflow: scroll;
}

code.AppleScript {
	color: hsl(213, 50%, 25%);
}
code span.keyword   { color: #1b556b; font-weight: bold; }
code span.tag       { color: #1b556b }
code span.command   { color: #947231 }
code span.type      { color: #ae3d16 }
code span.attribute { color: #862753 }
code span.variable  { color: #348986; font-style: italic; }
code span.value     { color: #b22729 }
code span.string    { color: #526e2a }
code span.comment   { color: #66747a }

@media (prefers-color-scheme: dark) {
	pre.source {
		background: hsl(0, 0%, 10%);
	}
	code.AppleScript {
		color: hsl(213, 30%, 75%);
	}
	code span.keyword   { color: #5199b3 }
	code span.tag       { color: #5199b3 }
	code span.command   { color: #d4a046 }
	code span.type      { color: #ed734c }
	code span.attribute { color: #c76090 }
	code span.variable  { color: #75c9c6 }
	code span.value     { color: #f26669 }
	code span.string    { color: #90ad65 }
	code span.comment   { color: #808080 }
}


/* See also */

#cf {
	border-block-start: none;
	margin-block-start: 2.5rem;
}
#cf > * {
	margin-block: 0;
}
#cf ul {
	list-style-type: none;
	padding-inline-start: 0;
}
#cf ul li {
	margin-block: 0.4rem;
}


/* Settings */

table.settings tbody th {
	inline-size: 30%;
	white-space: normal;
}
table.settings caption {
	font-weight: 500;
	text-align: start;
	margin-block: 0.4rem;
}
