@charset "UTF-8";

/*
 Style Sheet for Table of Contents
 
 CotEditor
 https://coteditor.com
 
 © 2006-2025 CotEditor Project
*/

@import "common.css";

body > h1 {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.3;
	margin: 2.5rem 0 1.5rem;
}

a {
	color: inherit !important;
}

ul {
	font-size: 15px;
	font-weight: 500;
	
	padding: 0;
	list-style-type: none;
}
ul ul {
	padding-inline-start: 1.5rem;
}
li {
	margin: 0.4rem 0;
}
body > ul > li {
	padding: 0.15rem 0;
}

summary {
	display: block;
}
summary::before {
	content: url(../gfx/chevron.svg);
	opacity: 0.45;
	display: inline-block;
	vertical-align: -1.5px;
	padding-inline-end: 0.4rem;
}
details[open] > summary::before {
	transform: translateY(1.5px) rotate(90deg);
}
@media (prefers-color-scheme: dark) {
	summary::before {
		content: url(../gfx/chevron-dark.svg);
	}
}