@charset "UTF-8";

/*
 Style Sheet for Top Page
 
 CotEditor
 https://coteditor.com
 
 © 2006-2025 CotEditor Project
*/

@import "common.css";

header {
	font-size: 22px;
	font-weight: 300;
	position: relative;
	height: 170px;
	border-bottom: 1px solid -apple-system-quaternary-label;
}
header img {
	position: absolute;
	top: 0;
	right: 40px;
	width: 150px;
}
header h1 {
	font-size: 39px;
	font-weight: 450;
	margin: 0;
}
header p {
	margin: 0.25rem 0;
}
header .toc::before {
	display: inline-block;
	content: url(../gfx/toc.svg);
	vertical-align: -1px;
	padding-right: 0.3rem;
}
header .toc {
	font-size: 17px;
	font-weight: 400;
}


/* topic */

main > section {
	padding: 1.5rem 0;
	border-bottom: solid 1px -apple-system-grid;
}
h2 {
	font-weight: 500;
	font-size: 200%;
	line-height: 1.3;
	margin: 0.5rem 0;
}

main > section.subhead {
	text-align: center;
}
main > section.subhead h2 {
	font-size: 220%;
}

main > section:not(.subhead) {
	display: flex;
	flex-direction: row;
	gap: 30px;
}
main > section:not(.subhead):nth-child(odd) {
	flex-direction: row-reverse;
}
main > section:not(.subhead) > * {
	box-sizing: border-box;
}
main > section figure {
	margin: 0;
}

img.snapshot {
	border: 0.5px solid -apple-system-tertiary-label;
	border-radius: 6px;
}

section ul {
	list-style-type: none;
	padding: 0;
}
section ul li a::after {
	content: ' ›';
}
