@charset "UTF-8";

/*
 Style Sheet for Top Page
 
 CotEditor
 https://coteditor.com
 
 © 2014-2025 1024jp
*/

@import "common.css";

header {
	font-weight: 300;
	position: relative;
	height: 170px;
	border-bottom: 1px solid -apple-system-separator;
}
header img {
	position: absolute;
	top: 0;
	right: 40px;
	width: 150px;
}
header h1 {
	font-size: 40px;
	font-weight: 500;
	line-height: 1.4;
	margin: 0;
}
header p {
	font-size: 23px;
	margin: 0;
}
header a.toc::before {
	display: inline-block;
	content: url(../gfx/toc.svg);
	vertical-align: -0.1em;
	padding-inline-end: 0.3rem;
}
header a.toc {
	display: inline-block;
	font-weight: 400;
	text-decoration-line: none;
	margin-top: 0.8rem;
}


/* topic */

main > section {
	padding: 1.5rem 0;
	border-bottom: solid 1px -apple-system-separator;
}
main > section:first-child {
	text-align: center;
}
main > section:not(:first-child) {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}
main > section:nth-child(odd) {
	flex-direction: row-reverse;
}

main > section h2 {
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.3;
	margin: 0 0 1rem;
}
main > section:first-child h2 {
	font-size: 2.2rem;
}

section figure {
	margin: 0;
}
section figure img {
	border: 0.5px solid -apple-system-tertiary-label;
	border-radius: 0.3rem;
}

section ul {
	list-style-type: none;
	padding: 0;
}
section ul li a::after {
	content: ' ›';
}
