<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apache</key>
	<array>
		<string>conf</string>
	</array>
	<key>AppleScript</key>
	<array>
		<string>applescript</string>
	</array>
	<key>C#</key>
	<array>
		<string>cs</string>
	</array>
	<key>C, C++, Objective-C</key>
	<array>
		<string>c</string>
		<string>h</string>
		<string>m</string>
		<string>mm</string>
		<string>cpp</string>
		<string>cc</string>
	</array>
	<key>CSS</key>
	<array>
		<string>css</string>
	</array>
	<key>CoffeeScript</key>
	<array>
		<string>coffee</string>
	</array>
	<key>DTD</key>
	<array>
		<string>dtd</string>
	</array>
	<key>Dart</key>
	<array>
		<string>dart</string>
	</array>
	<key>Diff</key>
	<array>
		<string>diff</string>
		<string>patch</string>
		<string>dif</string>
	</array>
	<key>Go</key>
	<array>
		<string>go</string>
	</array>
	<key>HTML</key>
	<array>
		<string>html</string>
		<string>htm</string>
		<string>shtml</string>
	</array>
	<key>Haskell</key>
	<array>
		<string>hs</string>
		<string>lhs</string>
	</array>
	<key>INI</key>
	<array>
		<string>ini</string>
	</array>
	<key>JSON</key>
	<array>
		<string>json</string>
		<string>cottheme</string>
	</array>
	<key>Java</key>
	<array>
		<string>java</string>
	</array>
	<key>JavaScript</key>
	<array>
		<string>js</string>
	</array>
	<key>LaTeX</key>
	<array>
		<string>tex</string>
		<string>TEX</string>
		<string>sty</string>
		<string>cls</string>
	</array>
	<key>Lisp</key>
	<array>
		<string>lisp</string>
		<string>lsp</string>
		<string>el</string>
		<string>clj</string>
		<string>edn</string>
	</array>
	<key>Lua</key>
	<array>
		<string>lua</string>
	</array>
	<key>Makefile</key>
	<array/>
	<key>Markdown</key>
	<array>
		<string>md</string>
		<string>markdown</string>
		<string>mkd</string>
		<string>mdown</string>
		<string>mkdn</string>
	</array>
	<key>PHP</key>
	<array>
		<string>php</string>
		<string>php3</string>
		<string>php4</string>
		<string>php5</string>
		<string>phps</string>
		<string>phtml</string>
	</array>
	<key>Perl</key>
	<array>
		<string>pl</string>
		<string>cgi</string>
		<string>pm</string>
	</array>
	<key>Plain Text</key>
	<array>
		<string>txt</string>
	</array>
	<key>Python</key>
	<array>
		<string>py</string>
		<string>pyw</string>
	</array>
	<key>R</key>
	<array>
		<string>r</string>
	</array>
	<key>Ruby</key>
	<array>
		<string>rb</string>
	</array>
	<key>Rust</key>
	<array>
		<string>rs</string>
		<string>rc</string>
	</array>
	<key>SQL</key>
	<array>
		<string>sql</string>
		<string>mysql</string>
		<string>pgsql</string>
	</array>
	<key>SVG</key>
	<array>
		<string>svg</string>
	</array>
	<key>Scala</key>
	<array>
		<string>scala</string>
	</array>
	<key>Scheme</key>
	<array>
		<string>scm</string>
		<string>ss</string>
	</array>
	<key>Shell Script</key>
	<array>
		<string>sh</string>
	</array>
	<key>Swift</key>
	<array>
		<string>swift</string>
	</array>
	<key>Tcl</key>
	<array>
		<string>tcl</string>
	</array>
	<key>Textile</key>
	<array>
		<string>textile</string>
	</array>
	<key>XML</key>
	<array>
		<string>xml</string>
		<string>xsl</string>
		<string>xslt</string>
		<string>xsd</string>
		<string>rlx</string>
		<string>rng</string>
		<string>trex</string>
		<string>fo</string>
		<string>fob</string>
		<string>mml</string>
		<string>gml</string>
		<string>cml</string>
		<string>opf</string>
		<string>ncx</string>
		<string>xul</string>
		<string>zul</string>
		<string>smil</string>
		<string>smi</string>
		<string>mxml</string>
		<string>rss</string>
		<string>rdf</string>
		<string>atom</string>
		<string>plist</string>
		<string>xib</string>
		<string>xmp</string>
		<string>sdef</string>
	</array>
	<key>YAML</key>
	<array>
		<string>yaml</string>
		<string>yml</string>
	</array>
	<key>eRuby</key>
	<array>
		<string>erb</string>
		<string>rhtml</string>
	</array>
	<key>reStructuredText</key>
	<array>
		<string>rest</string>
		<string>rst</string>
	</array>
</dict>
</plist>
