<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Plain text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
				<string>public.data</string>
				<string>com.coteditor.CotEditor.theme</string>
				<string>com.coteditor.CotEditor.replacement</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-source</string>
				<string>public.css</string>
				<string>public.fortran-source</string>
				<string>public.html</string>
				<string>public.json</string>
				<string>public.patch-file</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.shell-script</string>
				<string>public.svg-image</string>
				<string>public.swift-source</string>
				<string>public.toml</string>
				<string>public.xml</string>
				<string>public.yaml</string>
				<string>com.microsoft.c-sharp</string>
				<string>com.microsoft.ini</string>
				<string>com.netscape.javascript-source</string>
				<string>com.sun.java-source</string>
				<string>com.textpattern.textile</string>
				<string>dev.dart.dart-script</string>
				<string>net.daringfireball.markdown</string>
				<string>org.dlang.d-source</string>
				<string>org.golang.go-script</string>
				<string>org.haskell.haskell-script</string>
				<string>org.iso.sql</string>
				<string>org.julia.julia-script</string>
				<string>org.kotlinlang.source</string>
				<string>org.lua.lua-source</string>
				<string>org.python.restructuredtext</string>
				<string>org.rust-lang.rust-script</string>
				<string>org.scala-lang.scala-source</string>
				<string>org.tug.bibtex.bib</string>
				<string>org.tug.tex</string>
				<string>com.coteditor.conf</string>
				<string>com.coteditor.lisp</string>
				<string>com.coteditor.scheme</string>
				<string>com.coteditor.verilog</string>
				<string>com.coteditor.vhdl</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).Document</string>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).editing</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleHelpBookFolder</key>
	<string>CotEditor.help</string>
	<key>CFBundleHelpBookName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER).help</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSpokenName</key>
	<string>Cot editor</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>${PRODUCT_NAME} needs user approval to control other applications with AppleScript.</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2005-2009 nakamuxu
© 2011, 2014 usami-k
© 2013-2022 1024jp</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>New CotEditor Document with Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>openSelection</string>
			<key>NSPortName</key>
			<string>$(PRODUCT_NAME)</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open File in CotEditor</string>
			</dict>
			<key>NSMessage</key>
			<string>openFile</string>
			<key>NSPortName</key>
			<string>$(PRODUCT_NAME)</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSURLPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.coteditor.CotEditor</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>CotEditor</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>OSAScriptingDefinition</key>
	<string>$(PRODUCT_NAME).sdef</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>sY0VDoz2fbpnduoaVKlJBnlcBj/OFqQklEN/QlqDyWM=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CotEditor Theme</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Theme-image</string>
				<key>UTTypeIconText</key>
				<string>theme</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.coteditor.CotEditor.theme</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cottheme</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CotEditor Replacement Definition</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Replacement-image</string>
				<key>UTTypeIconText</key>
				<string>replace</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.coteditor.CotEditor.replacement</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cotrpl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Configuration</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Gear-fill</string>
				<key>UTTypeIconText</key>
				<string>config</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.coteditor.conf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>conf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lisp script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Lambda-fill</string>
				<key>UTTypeIconText</key>
				<string>lisp</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.coteditor.lisp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lisp</string>
					<string>lsp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Scheme script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Lambda-fill</string>
				<key>UTTypeIconText</key>
				<string>scheme</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.coteditor.scheme</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>scm</string>
					<string>ss</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Verilog source</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Circuit-fill</string>
				<key>UTTypeIconText</key>
				<string>verilog</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.coteditor.verilog</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>v</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VHDL source</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Circuit-fill</string>
				<key>UTTypeIconText</key>
				<string>VHDL</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.coteditor.vhdl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vhd</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/x-vhdl</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>C header</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>CurlyBrackets-fill</string>
				<key>UTTypeIconText</key>
				<string>h</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.c-header</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>h</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>C source</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>CurlyBrackets-fill</string>
				<key>UTTypeIconText</key>
				<string>c</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.c-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>c</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>C++ header</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>CurlyBrackets-fill</string>
				<key>UTTypeIconText</key>
				<string>h++</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.c-plus-plus-header</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hh</string>
					<string>hp</string>
					<string>hpp</string>
					<string>hxx</string>
					<string>h++</string>
					<string>ipp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>C++ source</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>CurlyBrackets-fill</string>
				<key>UTTypeIconText</key>
				<string>c++</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.c-plus-plus-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cp</string>
					<string>cpp</string>
					<string>c++</string>
					<string>cc</string>
					<string>cxx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cascading Style Sheet</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Number-fill</string>
				<key>UTTypeIconText</key>
				<string>CSS</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.css</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>css</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/css</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Fortran source</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>F-fill</string>
				<key>UTTypeIconText</key>
				<string>Fortran</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.fortran-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>f</string>
					<string>f90</string>
					<string>f95</string>
					<string>f03</string>
					<string>f08</string>
					<string>for</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HTML document</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>AngleBrackets-fill</string>
				<key>UTTypeIconText</key>
				<string>HTML</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>html</string>
					<string>htm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/html</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSON document</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>CurlyBrackets-fill</string>
				<key>UTTypeIconText</key>
				<string>JSON</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.json</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>json</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Diff</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Diff-fill</string>
				<key>UTTypeIconText</key>
				<string>diff</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.patch-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>diff</string>
					<string>patch</string>
					<string>dif</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.shell-script</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Perl script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Perl-fill</string>
				<key>UTTypeIconText</key>
				<string>Perl</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.perl-script</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pl</string>
					<string>pm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.shell-script</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PHP script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>AngleBrackets-fill</string>
				<key>UTTypeIconText</key>
				<string>PHP</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.php-script</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>php</string>
					<string>php3</string>
					<string>php4</string>
					<string>php5</string>
					<string>phps</string>
					<string>phtml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Plain text</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Text-fill</string>
				<key>UTTypeIconText</key>
				<string>text</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.plain-text</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>txt</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/plain</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.shell-script</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Python script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Python-fill</string>
				<key>UTTypeIconText</key>
				<string>Python</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.python-script</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>py</string>
					<string>pyw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.shell-script</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ruby script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Ruby-fill</string>
				<key>UTTypeIconText</key>
				<string>Ruby</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.ruby-script</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.script</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Shell script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Shell-fill</string>
				<key>UTTypeIconText</key>
				<string>Shell</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.shell-script</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sh</string>
					<string>command</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Scalable Vector Graphics</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>SVG-fill</string>
				<key>UTTypeIconText</key>
				<string>SVG</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.svg-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>svg</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/svg+xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Swift source</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Swift-fill</string>
				<key>UTTypeIconText</key>
				<string>Swift</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.swift-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>swift</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TeX</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>TeX-fill</string>
				<key>UTTypeIconText</key>
				<string>TeX</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.tug.tex</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tex</string>
					<string>sty</string>
					<string>cls</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TOML</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>TOML-fill</string>
				<key>UTTypeIconText</key>
				<string>TOML</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.toml</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/toml-lang/toml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>toml</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/toml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XML</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>AngleBrackets-fill</string>
				<key>UTTypeIconText</key>
				<string>XML</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.xml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xml</string>
					<string>xsl</string>
					<string>dtd</string>
					<string>xslt</string>
					<string>xsd</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YAML document</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Gear-fill</string>
				<key>UTTypeIconText</key>
				<string>YAML</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.yaml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>yml</string>
					<string>yaml</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-yaml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>C# source</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>CurlyBrackets-fill</string>
				<key>UTTypeIconText</key>
				<string>C#</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.c-sharp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>INI</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Gear-fill</string>
				<key>UTTypeIconText</key>
				<string>ini</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.ini</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ini</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JavaScript</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>CurlyBrackets-fill</string>
				<key>UTTypeIconText</key>
				<string>js</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.netscape.javascript-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>js</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Java source</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>CoffeeCup-fill</string>
				<key>UTTypeIconText</key>
				<string>Java</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.sun.java-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>java</string>
					<string>jav</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Textile document</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Text-fill</string>
				<key>UTTypeIconText</key>
				<string>textile</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.textpattern.textile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>textile</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dart script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Dart-fill</string>
				<key>UTTypeIconText</key>
				<string>Dart</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>dev.dart.dart-script</string>
			<key>UTTypeReferenceURL</key>
			<string>https://dart.dev</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dart</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown document</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Markdown-fill</string>
				<key>UTTypeIconText</key>
				<string>md</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.markdown</string>
			<key>UTTypeReferenceURL</key>
			<string>http://daringfireball.net/projects/markdown/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkd</string>
					<string>md</string>
					<string>markdown</string>
					<string>mdown</string>
					<string>mkdn</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>D source</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>D-fill</string>
				<key>UTTypeIconText</key>
				<string>D</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.dlang.d-source</string>
			<key>UTTypeReferenceURL</key>
			<string>https://dlang.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>d</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Go script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Go-fill</string>
				<key>UTTypeIconText</key>
				<string>Go</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.golang.go-script</string>
			<key>UTTypeReferenceURL</key>
			<string>https://go.dev</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>go</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Haskell script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Haskell-fill</string>
				<key>UTTypeIconText</key>
				<string>Haskell</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.haskell.haskell-script</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.haskell.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hs</string>
					<string>lhs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SQL source</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>SQL-fill</string>
				<key>UTTypeIconText</key>
				<string>SQL</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.iso.sql</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sql</string>
					<string>mysql</string>
					<string>pgsql</string>
				</array>
				<key>public.mime-type</key>
				<string>application/sql</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Julia script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Julia-fill</string>
				<key>UTTypeIconText</key>
				<string>Julia</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.julia.julia-script</string>
			<key>UTTypeReferenceURL</key>
			<string>https://julialang.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sql</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Kotlin script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Kotlin-fill</string>
				<key>UTTypeIconText</key>
				<string>Kotlin</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.kotlinlang.source</string>
			<key>UTTypeReferenceURL</key>
			<string>https://kotlinlang.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kt</string>
					<string>kts</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lua script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Lua-fill</string>
				<key>UTTypeIconText</key>
				<string>Lua</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.lua.lua-source</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.lua.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lua</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>reStructured Text document</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Text-fill</string>
				<key>UTTypeIconText</key>
				<string>reST</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.python.restructuredtext</string>
			<key>UTTypeReferenceURL</key>
			<string>https://docutils.sourceforge.io/rst.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rest</string>
					<string>rst</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Rust script</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Gear-fill</string>
				<key>UTTypeIconText</key>
				<string>Rust</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.rust-lang.rust-script</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.rust-lang.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rs</string>
					<string>rc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Scala source</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Scala-fill</string>
				<key>UTTypeIconText</key>
				<string>Scala</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.scala-lang.scala-source</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.scala-lang.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>scala</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BibTeX bibliography</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>TeX-fill</string>
				<key>UTTypeIconText</key>
				<string>TeX</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.tug.bibtex.bib</string>
			<key>UTTypeReferenceURL</key>
			<string>http://bibtex.tug.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bib</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
