<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>abstract</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>add</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>alias</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>as</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>async</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>await</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>const</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>event</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>explicit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>extern</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>get</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>global</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>implicit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>internal</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>is</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>new</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>operator</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>out</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>override</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>params</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>partial</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>private</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>protected</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>public</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>readonly</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ref</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>remove</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sealed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>set</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sizeof</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>static</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>typeof</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unsafe</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>value</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>virtual</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>volatile</string>
		</dict>
	</array>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>ascending</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>by</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>descending</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>equals</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>from</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>group</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>into</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>join</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>let</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>on</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>orderby</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>select</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>where</string>
		</dict>
	</array>
	<key>commentDelimiters</key>
	<dict>
		<key>beginDelimiter</key>
		<string>/*</string>
		<key>endDelimiter</key>
		<string>*/</string>
		<key>inlineDelimiter</key>
		<string>//</string>
	</dict>
	<key>commentsArray</key>
	<array/>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>cs</string>
		</dict>
	</array>
	<key>filenames</key>
	<array/>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#define</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#elif</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#endif</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#endregion</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#error</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#line</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#pragma</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#region</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#undef</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#warning</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>break</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>catch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>checked</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>continue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>default</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>finally</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fixed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>foreach</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>goto</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>in</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lock</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>namespace</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>stackalloc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>throw</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>try</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unchecked</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>using</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>yield</string>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>author</key>
		<string>usami-k</string>
		<key>description</key>
		<string>C# 5.0
keywords: Statement,Namespace,Preprocessor
commands: Query(LINQ)
types: Types
attributes: Modifiers,MethodParameters,Operator,Conversion,Contextual
variables: Access
values: Literal</string>
		<key>distributionURL</key>
		<string>http://coteditor.github.io/</string>
		<key>lastModified</key>
		<string>2014-09-01</string>
		<key>license</key>
		<string>Same as CotEditor</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>numbersArray</key>
	<array/>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#define\W(.*)$</string>
			<key>italic</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#elif\W(.*)$</string>
			<key>italic</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#else\W(.*)$</string>
			<key>italic</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#endif\W(.*)$</string>
			<key>italic</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#endregion\W(.*)$</string>
			<key>bold</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#if\W(.*)$</string>
			<key>italic</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#region\W(.*)$</string>
			<key>bold</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#undef\W(.*)$</string>
			<key>italic</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[\t ]*(\[.+\])</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[\t ]*(\w[\w\s]*\s[\*]*)(\w+)\(([\s\w*&amp;,]*)\)\s*\{</string>
			<key>keyString</key>
			<string>$1 $2($3)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>namespace\W(.*)$</string>
			<key>bold</key>
			<true/>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>C#</string>
	<key>typesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>bool</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>byte</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>class</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>decimal</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>delegate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>double</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dynamic</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>enum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>float</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>int</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>interface</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>long</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>object</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sbyte</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>short</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>struct</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>uint</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ulong</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ushort</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>var</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>void</string>
		</dict>
	</array>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>false</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>null</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
		</dict>
	</array>
	<key>variablesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>base</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>this</string>
		</dict>
	</array>
</dict>
</plist>
