<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>'\''</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>and</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>and_eq</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bitand</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bitor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>break</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>compl</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>const_cast</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>continue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>delete</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dynamic_cast</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>goto</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>new</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>not</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>not_eq</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>or</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>or_eq</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reinterpret_cast</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>static_cast</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>throw</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>typeid</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xor_eq</string>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>/*</string>
			<key>endString</key>
			<string>*/</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>//.*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>c</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>h</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>m</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>mm</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>cpp</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>cc</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#define</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#elif</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#endif</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#ifdef</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#ifndef</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#import</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#include</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#pragma</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@catch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@class</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@defs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@encode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@end</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@finally</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@implementation</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@interface</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@private</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@protected</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@protocol</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@public</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@selector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@synchronized</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@throw</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@try</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>asm</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>auto</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>BOOL</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bool</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bycopy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>byref</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>catch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>class</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>const</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>default</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>defined</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>double</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>enum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>explicit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>export</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>extern</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>float</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>friend</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>id</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>IMP</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>in</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>inline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>inout</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>int</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>long</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mutable</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>namespace</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>oneway</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>operator</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>out</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>private</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>protected</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>public</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>register</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>restrict</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SEL</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>short</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>signed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>static</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>struct</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>template</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>try</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>typedef</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>typename</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>union</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unsigned</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>using</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>virtual</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>void</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>volatile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>[ \t\f]0[xX][0-9a-fA-F]+[lL]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#define\W(.*)$</string>
			<key>italic</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#endif\W(.*)$</string>
			<key>italic</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#if\W(.*)$</string>
			<key>italic</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#ifdef\W(.*)$</string>
			<key>italic</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#ifndef\W(.*)$</string>
			<key>italic</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#pragma mark\W[\t ]*([^-\n]+)$</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#pragma mark\W[\t ]*-[ ]*$</string>
			<key>keyString</key>
			<string>-</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#undef\W(.*)$</string>
			<key>italic</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\@end\W(.*)$</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$&amp;</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\@implementation\W(.*)$</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$&amp;</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\@interface\W(.*)$</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$&amp;</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^(\w[\w\s]*\s[\*]*)(\w+)\(([\s\w*&amp;,]*)\)\s*{</string>
			<key>keyString</key>
			<string>$1 $2($3)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[\t ]*([+-])([^)]*?\))([^{]*){</string>
			<key>keyString</key>
			<string>$1 $3</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>C, C++, Objective-C</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>false</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nil</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Nil</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>NULL</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>self</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>super</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>this</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>YES</string>
		</dict>
	</array>
</dict>
</plist>
