<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>:branch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:commit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:debug</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:default</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:deployment_target</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:exclusive</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:git</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:head</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:hg</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:inhibit_warnings</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:ios</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:local</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:name</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:osx</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:path</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:podspec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:release</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:revision</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:submodules</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:svn</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:tag</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:test</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:text</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:type</string>
		</dict>
	</array>
	<key>charactersArray</key>
	<array/>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>gsub</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>new</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>puts</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>read</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>to_a</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>to_ary</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>to_hash</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>to_int</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>to_s</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>to_str</string>
		</dict>
	</array>
	<key>commentDelimiters</key>
	<dict>
		<key>inlineDelimiter</key>
		<string>#</string>
	</dict>
	<key>commentsArray</key>
	<array/>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>podspec</string>
		</dict>
	</array>
	<key>filenames</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>Podfile</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>alias</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>and</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>def</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>elsif</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>end</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ensure</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>in</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>inhibit_all_warnings</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>link_with</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>module</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>next</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>or</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>platform</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pod</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>podspec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>post_install</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pre_install</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>redo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rescue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>retry</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>super</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>target</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unless</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>until</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>when</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xcodeproj</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>yield</string>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>author</key>
		<string>1024jp</string>
		<key>distributionURL</key>
		<string>http://coteditor.github.io</string>
		<key>lastModified</key>
		<string>2014-08-24</string>
		<key>license</key>
		<string>Same as CotEditor</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\b[0-9][0-9_]*\.[0-9_]+([eE][0+][0-9_]+)?r?i?\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b[0-9][0-9_]*\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>`</string>
			<key>endString</key>
			<string>`</string>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(^[\t ]*def)[\t ]+([^\s(]*)</string>
			<key>keyString</key>
			<string>$1 $2</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&lt;&lt;-?(["'`]?)(\w+)\1(?:.|\n)*?\n[\t ]*\2$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>styleName</key>
	<string>CocoaPods</string>
	<key>typesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Float</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Pod</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Spec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>String</string>
		</dict>
	</array>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>__FILE__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>false</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nil</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
		</dict>
	</array>
	<key>variablesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\.)ios\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\.)osx\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\.)platform\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\$[a-z0-9_]+</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>author</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>authors</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clean_path</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clean_paths</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>compiler_flags</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>default_subspec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dependency</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>deployment_target</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>deprecated</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>deprecated_in_favor_of</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>description</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>docset_url</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>documentation_url</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exclude_files</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>framework</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>frameworks</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>header_dir</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>header_mappings_dir</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>homepage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>libraries</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>library</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>license</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>name</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>prefix_header_contents</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>prefix_header_file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>prepare_command</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>preserve_path</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>preserve_paths</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>private_header_files</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>public_header_files</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>requires_arc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>resource</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>resource_bundle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>resource_bundles</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>resources</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>screenshots</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>social_media_url</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>source</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>source_files</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>subspec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>summary</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vendored_framework</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vendored_frameworks</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vendored_libraries</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vendored_library</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>version</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>weak_framework</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>weak_frameworks</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xcconfig</string>
		</dict>
	</array>
</dict>
</plist>
