<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^! .*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^!$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^diff -.+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^index .+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^Index: .+(\n ?=+)?</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^[*]{3} .*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[-+]{3} .*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^\*+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>diff</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>patch</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>dif</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^-.*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^&gt; .*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^@@ </string>
			<key>endString</key>
			<string> @@</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[0-9,adc]+$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(.+)(?=\n\=+[\t ]*$)</string>
			<key>bold</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^@@(.+)@@</string>
			<key>keyString</key>
			<string>    $0</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[0-9,adc]+$</string>
			<key>keyString</key>
			<string>    $0</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array/>
	<key>styleName</key>
	<string>Diff</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^&lt; .*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^\+.*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
