<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)[[:alnum:]_\-.:]+(?=\s*=)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>%[^&amp;%"]+;(?=[^&lt;&gt;]*[\[&gt;])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;\S+?;</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&lt;![CDATA[</string>
			<key>endString</key>
			<string>]]&gt;</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;)\?[[:alnum:]_\-.:]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\?(?=&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commentDelimiters</key>
	<dict>
		<key>beginDelimiter</key>
		<string>&lt;!--</string>
		<key>endDelimiter</key>
		<string>--&gt;</string>
	</dict>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#for SGML DTD)--(?:-[^-]|[^-])*--(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>dtd</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)[[:alnum:]_\-.:]+(?=[\n\t /&gt;])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=[\n\t (|,])[[:alnum:]_\-.:%]+(?=[\n\t )|,]?[^&lt;&gt;\[]*[&gt;\[])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>author</key>
		<string>1024jp</string>
		<key>distributionURL</key>
		<string>http://coteditor.github.io</string>
		<key>lastModified</key>
		<string>2014-08-17</string>
		<key>license</key>
		<string>Same as CotEditor</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>numbersArray</key>
	<array/>
	<key>outlineMenuArray</key>
	<array/>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;!\w)'[^']*?'(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=NDATA)\s+[[:alnum:]_\-.]+(?=\s*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>styleName</key>
	<string>DTD</string>
	<key>typesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;)![A-Z]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#for SGML DTD)(?&lt;=\s)(?:SDATA|RCDATA|NAME|NUMBER|#CONREF|#SUBDOC)(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=[(|])#PCDATA(?=\b)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\[)\s*(?:IGNORE|INCLUDE)\s*(?=\[)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)#(?:FIXED|IMPLIED|REQUIRED)(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)(?:ANY|EMPTY)(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)(?:PUBLIC|SYSTEM)(?=\s+["'])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)CDATA(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)ENTIT(?:Y|IES)(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)ID(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)IDREFS?(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)NDATA(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)NMTOKENS?(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)NOTATION(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>variablesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#for SGML DTD)(?&lt;!ATTLIST)\s+[O\-]\s+[O\-](?=\s[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)[[:alnum:]_\-.]+:(?=\w)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\b)[[:alnum:]_\-.]+:(?=\w[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)[[:alnum:]_\-.]+:(?=(\w|[\-.])+\s*=)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
