<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesArray</key>
	<array/>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>append</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cap</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>close</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>complex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>copy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>delete</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>imag</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>len</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>make</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>new</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>panic</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>print</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>println</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>real</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>recover</string>
		</dict>
	</array>
	<key>commentDelimiters</key>
	<dict>
		<key>beginDelimiter</key>
		<string>/*</string>
		<key>endDelimiter</key>
		<string>*/</string>
		<key>inlineDelimiter</key>
		<string>//</string>
	</dict>
	<key>commentsArray</key>
	<array/>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>go</string>
		</dict>
	</array>
	<key>filenames</key>
	<array/>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>break</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>chan</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>const</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>continue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>default</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>defer</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fallthrough</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>func</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>go</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>goto</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>import</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>interface</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>map</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>package</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>range</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>select</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>struct</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>type</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>var</string>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>author</key>
		<string>1024jp</string>
		<key>distributionURL</key>
		<string>http://coteditor.github.io</string>
		<key>lastModified</key>
		<string>2014-08-15</string>
		<key>license</key>
		<string>Same as CotEditor</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>0[xX][0-9a-fA-F]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\.d+([eE][-+]?\d+)?i?</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b\d+i?\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\d+[eE][-+]?\d+i?</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\d+\.\d*([eE][-+]?\d+)?i?</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>([\t ]*)type[\t ]+(\w+)[\t ]+interface</string>
			<key>italic</key>
			<true/>
			<key>keyString</key>
			<string>$1interface $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>([\t ]*)type[\t ]+(\w+)[\t ]+struct</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$1struct $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\t ]*func +\w+\(.*?\)</string>
			<key>italic</key>
			<false/>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>`</string>
			<key>endString</key>
			<string>`</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>Go</string>
	<key>typesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>bool</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>byte</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>chan</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>complex128</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>complex64</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>error</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>float32</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>float64</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>int</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>int16</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>int32</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>int64</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>int8</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>interface</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>map</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rune</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>struct</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>uint</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>uint16</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>uint32</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>uint64</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>uint8</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>uintptr</string>
		</dict>
	</array>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>false</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>iota</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nil</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
		</dict>
	</array>
	<key>variablesArray</key>
	<array/>
</dict>
</plist>
