<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array/>
	<key>commandsArray</key>
	<array/>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#.*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>;.*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>ini</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^\[</string>
			<key>endString</key>
			<string>\]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;![0-9a-z$])[0-9.][0-9.]*(e-?[0-9.]+)?\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^\[(.+)\]</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$1</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>INI</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^\w[^=]*(?=[=:])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
