<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>'\''</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>break</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>continue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>goto</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>throw</string>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>/*</string>
			<key>endString</key>
			<string>*/</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>//.*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>java</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>abstract</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>byte</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>catch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>class</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>const</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>default</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>double</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>extends</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>final</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>finally</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>float</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>implements</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>import</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>instanceof</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>int</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>interface</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>long</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>native</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>new</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>package</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>private</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>protected</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>public</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>short</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>static</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>strictfp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>synchronized</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>throws</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>transient</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>try</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>void</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>volatile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>[ \t\f]0[xX][0-9a-fA-F]+[lL]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^([[:blank:]]*)(private)\s*([^{]*)(?={)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([[:blank:]]*)(protected)\s*([^{]*)(?={)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([[:blank:]]*)(public)\s*([^{]*)(?={)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[\t ]*(class)(.*)$</string>
			<key>ignoreCase</key>
			<true/>
			<key>keyString</key>
			<string>$1 : $2</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>Java</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>false</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>NaN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>null</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>super</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>this</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
		</dict>
	</array>
</dict>
</plist>
