<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#?:[^[:space:],)]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#'</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\\[^[:space:],)]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\backspace</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\linefeed</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\newline</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\page</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\return</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\rubout</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\tab</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
	</array>
	<key>commandsArray</key>
	<array/>
	<key>commentDelimiters</key>
	<dict>
		<key>beginDelimiter</key>
		<string>#|</string>
		<key>endDelimiter</key>
		<string>|#</string>
		<key>inlineDelimiter</key>
		<string>;</string>
	</dict>
	<key>commentsArray</key>
	<array/>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>lisp</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>lsp</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>el</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>clj</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>edn</string>
		</dict>
	</array>
	<key>filenames</key>
	<array/>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\()[^[:space:],)]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>author</key>
		<string>1024jp</string>
		<key>description</key>
		<string>general Lisp syntax style for common Lisp and other Lisp dialects</string>
		<key>distributionURL</key>
		<string>http://coteditor.github.io</string>
		<key>lastModified</key>
		<string>2014-09-01</string>
		<key>license</key>
		<string>Same as CotEditor</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#b[01][01_]*\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#o[0-7][0-7_]*\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#x[0-9a-f][0-9a-f_]*\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(\b|[-+])[0-9][0-9./_]*([ed][-+]?\d+)?\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>([\t ]*)\(defmacro\S+(\S+)</string>
			<key>keyString</key>
			<string>$1macro: $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>([\t ]*)\(defun\S+(\S+)</string>
			<key>keyString</key>
			<string>$1$2</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>Lisp</string>
	<key>typesArray</key>
	<array/>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>f</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nil</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pi</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>t</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
	</array>
	<key>variablesArray</key>
	<array/>
</dict>
</plist>
