<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesArray</key>
	<array/>
	<key>charactersArray</key>
	<array/>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=bit32\.)arshift</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=bit32\.)band</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=bit32\.)bnot</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=bit32\.)bor</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=bit32\.)btest</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=bit32\.)bxor</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=bit32\.)extract</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=bit32\.)lrotate</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=bit32\.)lshift</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=bit32\.)replace</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=bit32\.)rrotate</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=bit32\.)rshift</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=continue\.)create</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=continue\.)resume</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=continue\.)running</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=continue\.)status</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=continue\.)wrap</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=continue\.)yield</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)debug</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)gethook</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)getinfo</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)getlocal</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)getmetatable</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)getregistry</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)getupvalue</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)getuservalue</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)sethook</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)setlocal</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)setmetatable</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)setupvalue</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)setuservalue</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)traceback</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)upvalueid</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=debug\.)upvaluejoin</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=file:)close</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=file:)flush</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=file:)lines</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=file:)read</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=file:)seek</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=file:)setvbuf</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=file:)write</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)close</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)flush</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)input</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)lines</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)open</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)output</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)popen</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)read</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)stderr</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)stdin</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)stdout</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)tmpfile</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)type</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=io\.)write</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)abs</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)acos</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)asin</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)atan</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)atan2</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)ceil</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)cos</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)cosh</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)deg</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)exp</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)floor</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)fmod</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)frexp</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)ldexp</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)log</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)max</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)min</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)modf</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)pow</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)rad</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)random</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)randomseed</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)sin</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)sinh</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)sqrt</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)tan</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)tanh</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=os\.)clock</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=os\.)date</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=os\.)difftime</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=os\.)execute</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=os\.)exit</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=os\.)getenv</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=os\.)remove</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=os\.)rename</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=os\.)setlocate</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=os\.)time</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=os\.)tmpname</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=package\.)config</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=package\.)cpath</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=package\.)loaded</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=package\.)loadlib</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=package\.)path</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=package\.)preload</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=package\.)searchers</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=package\.)searchpath</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)byte</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)char</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)dump</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)find</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)format</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)gmatch</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)gsub</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)len</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)lower</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)match</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)rep</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)reverse</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)sub</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=string\.)upper</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=table\.)concat</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=table\.)insert</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=table\.)pack</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=table\.)remove</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=table\.)sort</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=table\.)unpack</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>assert</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>collectgarbage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dofile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>error</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getmetatable</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ipairs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>load</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>loadfile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>next</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pairs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pcall</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>print</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rawequal</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rawget</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rawlen</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rawset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>require</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>select</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setmetatable</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tonumber</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tostring</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>type</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xpcall</string>
			<key>regularExpression</key>
			<false/>
		</dict>
	</array>
	<key>commentDelimiters</key>
	<dict>
		<key>beginDelimiter</key>
		<string>--[[</string>
		<key>endDelimiter</key>
		<string>]]</string>
		<key>inlineDelimiter</key>
		<string>--</string>
	</dict>
	<key>commentsArray</key>
	<array/>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>lua</string>
		</dict>
	</array>
	<key>filenames</key>
	<array/>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>and</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>break</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>elseif</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>end</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>function</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>goto</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>in</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>local</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>not</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>or</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>repeat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>then</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>until</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>author</key>
		<string>1024jp</string>
		<key>distributionURL</key>
		<string>http://coteditor.github.io</string>
		<key>lastModified</key>
		<string>2014-08-15</string>
		<key>license</key>
		<string>Same as CotEditor</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>0[xX][0-9a-fA-F]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\d+(\.\d+)?([eE][-+]?\d+)?</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>([\t ]*)(function +.+\(.*?\))</string>
			<key>keyString</key>
			<string>$1$2</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>Lua</string>
	<key>typesArray</key>
	<array/>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)huge</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=math\.)pi</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>_G</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>_VERSION</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>false</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nil</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
		</dict>
	</array>
	<key>variablesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>self</string>
		</dict>
	</array>
</dict>
</plist>
