<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array/>
	<key>commandsArray</key>
	<array/>
	<key>commentsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>txt</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array/>
	<key>metadata</key>
	<dict>
		<key>author</key>
		<string>nakamuxu</string>
		<key>distributionURL</key>
		<string>http://coteditor.github.io</string>
		<key>lastModified</key>
		<string>2014-08-15</string>
		<key>license</key>
		<string>Same as CotEditor</string>
		<key>version</key>
		<string>1.1</string>
	</dict>
	<key>numbersArray</key>
	<array/>
	<key>stringsArray</key>
	<array/>
	<key>styleName</key>
	<string>Plain Text</string>
	<key>valuesArray</key>
	<array/>
</dict>
</plist>
