<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array/>
	<key>commandsArray</key>
	<array/>
	<key>commentsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>txt</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array/>
	<key>numbersArray</key>
	<array/>
	<key>stringsArray</key>
	<array/>
	<key>styleName</key>
	<string>Plain Text copy</string>
	<key>valuesArray</key>
	<array/>
</dict>
</plist>
