<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#code)(?&lt;!\\)``(?![ \t`])(?:(?!\n\n)(?:.|\n))+?(?&lt;![\\\t ])``</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#codeblock)(?&lt;!^[\t ]{0,4}\.\. [a-z]{1,10} ?)::\n[\t ]*(?:\n(?:[\t ]*\n)?([\t ]+)[^\n]*)(?:\n(?:[\t ]*\n)?\1[^\n]*)*</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#option lists)^(--?|/)[a-z]((?!  )[a-z0-9_= \-])* {2,}</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^([-=`:.'"~^_*+#]{3,})\n.+\n\1$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^.+\n([-=`:.'"~^_*+#])\1{2,}$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^(?:\t| {1,4})?\.\.\s(?![_\[|]|[a-z]+?::)(?:(?!\n\n)(.|\n))*</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>rst</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>rest</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#cite)\[\w[^\]]*?\]_</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#directive)^[\t ]*\.\. [a-z]+ ?::</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#dt)\n\n([\t ]*)(?!(?:[#a-z]|[ivxlxcdm]+|\d+)\.)\w[^\n]*\n\1[\t ]+(?=\w)</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#em)(?&lt;![\\*)\]'"’‘”“`}&gt;›»]|\w)\*[^* \t\n)\]'"’‘”“`}&gt;›»](?:(?!\n\n)(?:[^*]|\n))*?(?&lt;![\\ \t\n])\*(?!\w|['"’‘”“`&lt;‹«(\[{])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#field list)^[\t ]*:[^\n:]+?: </string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#footnotes)^[\t ]*\.\. \[[^\]\n]+\] </string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#hr)\n\n[-=`:.'"~^_*+#]{4,}\n\n</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#interpreted text)(?&lt;![\\`)\]'"’‘”“`}&gt;›»]|\w)`[^ \n\t`](?:(?!\n\n)(?:[^`]|\n))*?[^\\ \n\t]`(?!\w|['"’‘”“`&lt;‹«(\[{_])</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#ol li)^[ \t]*\(?(?:[#a-z]|[ivxlxcdm]+|\d+)[.)][ \t]</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#strong)(?&lt;![\\*)\]'"’‘”“`}&gt;›»]|\w)\*\*[^* \t\n)\]'"’‘”“`}&gt;›»](?![ \t])(?:(?!\n\n|\*)(?:.|\n))*?(?&lt;![\\\t ])\*\*(?!\w|['"’‘”“`&lt;‹«(\[{])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#ul li)^[ \t]*[-*+•‣⁃][ \t]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#image)^[\t ]*\.\. (?:\|[^|\n]+?\| )?image ?::\s.*$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#role)(?&lt;=\w`):[a-z]+?:</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#role):[a-z]+?:(?=`\w)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#sub)\s\|\S(?:(?!\n\n)[^\|])*?\|_{0,2}[\W]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#table)^\n(={4,} [= ]{4,}\n)(?:.|\n)+\1(?=$\n)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#table)^\n\+[-+]{3,}\+\n(?:(?!\n\n)(?:.|\n))+\+[-+]{3,}\+(?=$\n)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;![-=`:.'"~^_*+#]{2}\n)^(.+)(?=\n([-=`:.'"~^_*+#])\2{2,}$)</string>
			<key>keyString</key>
			<string>$1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=[-=`:.'"~^_*+#]{3}\n)(.+)(?=\n([-=`:.'"~^_*+#])\2{2,}+$)</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$1</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#url) &lt;\S+&gt;(?=`_)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#url)^[\t ]*\.\. _\S.*(?:\n[\t ]+\S*)?$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#url)^[\t ]*__ .\S+$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>styleName</key>
	<string>reStructuredText</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#foot link)\s\[#[^\]]*?\]_\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#foot link)\s\[\*\]_\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#foot link)\s\[\d+?\]_\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#mail link)(mailto:)?[a-zA-Z0-9]+[a-zA-Z0-9\._-]*@[a-zA-Z0-9_-]+([a-zA-Z0-9\._-]+)+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#multi words link)\s`[^`]+?`__?\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#single word link)\b[^-=_ \t\n](?:\w|\d|[-=])*_(?!_)\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#url link with bracket)(?:https?|ftp):\/\/[-_.!~*\'a-zA-Z0-9;\/?:\@&amp;=+\$,%#]+\([-_.!~*\'a-zA-Z0-9;\/?:\@&amp;=+\$,%#]+\)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#url link)(?:https?|ftp):\/\/[-_.!~*\'a-zA-Z0-9;\/?:\@&amp;=+\$,%#]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
