<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
	</array>
	<key>commentDelimiters</key>
	<dict>
		<key>beginDelimiter</key>
		<string>/*</string>
		<key>endDelimiter</key>
		<string>*/</string>
		<key>inlineDelimiter</key>
		<string>//</string>
	</dict>
	<key>commentsArray</key>
	<array/>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>scala</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&lt;%</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&lt;-</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&lt;:</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>=</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>=&gt;</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&gt;:</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>_</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>abstract</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>catch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>class</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>def</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>eq</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>extends</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>final</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>finally</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>forSome</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>implicit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>import</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lazy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>match</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ne</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>new</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>object</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>override</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>package</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>private</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>protected</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sealed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>super</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>this</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>throw</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>trait</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>try</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>type</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>val</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>var</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>with</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>yield</string>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>author</key>
		<string>1024jp</string>
		<key>distributionURL</key>
		<string>http://coteditor.github.io</string>
		<key>lastModified</key>
		<string>2014-08-15</string>
		<key>license</key>
		<string>Same as CotEditor</string>
		<key>version</key>
		<string>1.1</string>
	</dict>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>((?&lt;!\w)|[-+])(?:\.\d+|\d+\.|\d+\.\d+|\d+)(e[+-]?\d+)?[fd]?</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b0x[0-9a-f]+l?\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b\d+l?\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^([\t ]*)(?:(final|protected|private|override)\s+)*(def)\s+(\w+(?:\(.*\))?)</string>
			<key>keyString</key>
			<string>$1$4</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([\t ]*)(?:(final|protected|private|sealed|case)\s+)*(class|object|trait)\s+(\w+)</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$1$3 $4</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([\t ]*)(?:abstract\s+)(?:(final|protected|private)\s+)*(def)\s+(\w+(?:\(.*\))?)</string>
			<key>italic</key>
			<true/>
			<key>keyString</key>
			<string>$1$4</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([\t ]*)(?:abstract\s+)(?:(final|protected|private|sealed|case)\s+)*(class|object|trait)\s+(\w+)</string>
			<key>bold</key>
			<true/>
			<key>italic</key>
			<true/>
			<key>keyString</key>
			<string>$1$3 $4</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>"""</string>
			<key>endString</key>
			<string>"""</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>Scala</string>
	<key>typesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Boolean</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Byte</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Char</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Double</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Float</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Int</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Long</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Short</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>String</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Unit</string>
		</dict>
	</array>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>false</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>null</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
		</dict>
	</array>
	<key>variablesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>super(?=\.)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>this(?=\.)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
