<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesArray</key>
	<array/>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#\</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\\.(?=[[:space:]()\[\]";#])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\\x[0-9a-fA-F]+\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\alarm</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\backspace</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\delete</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\esc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\linefeed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\newline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\nul</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\page</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\space</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\tab</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\vtab</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>*</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>+</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>-</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>/</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&lt;</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&lt;=</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>=</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&gt;</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&gt;=</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>abs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>acos</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>angle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>append</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>apply</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>asign</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>assoc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>assor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>assp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>assq</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>assv</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atan</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>binary-port?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>boolean=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>boolean?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bytevector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bytevector-append</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bytevector-copy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bytevector-copy!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bytevector-length</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bytevector-u8-ref</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bytevector-u8-set!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bytevector?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>caaar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>caadr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>caar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cadar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>caddr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cadr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>call-with-current-continuation</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>call-with-input-file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>call-with-output-file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>call-with-values</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>call/cc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>car</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cdar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cddaar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cddadr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cdddar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cddddr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cddr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cdr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ceiling</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char-&gt;integer</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char-alphabetic?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char-ci&lt;=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char-ci=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char-ci&gt;=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char-ci&gt;?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char-downcase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char-lower-case?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char-numeric?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char-ready?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char-upcase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char-upper-case?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char-whitespace?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char&lt;=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char&lt;?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char&gt;=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char&gt;?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>close-input-file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>close-output-file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>complex?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cons</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cons*</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cos</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>current-input-port</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>current-output-port</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>denominator</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>digit-value</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>display</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dynamic-wind</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>emergency-exit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>environment</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>eof-object</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>eof-object?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>eq?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>equal-hash</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>equal?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>eqv?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>error</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>error-object-irritants</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>error-object-message</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>error-object?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>eval</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>even?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exact</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exact-&gt;inexact</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exact-integer-sqrt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exact-integer?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exact?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exists</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>expt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>features</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>file-error?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>file-exists?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>filter</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>find</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>finite?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>floor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>floor-quotient</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>floor-remainder</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>floor/</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>flush-output-port</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fold-left</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fold-right</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for-all</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for-each</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>force</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>gcd</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>get-environment-variable</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>get-environment-variables</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>get-output-bytevector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>get-output-string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable-clear!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable-contains?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable-copy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable-delete!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable-entries</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable-equivalence-function</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable-hash-function</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable-keys</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable-mutable?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable-ref</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable-set!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable-size</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable-update!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hashtable?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>identifier</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>imag-part</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>inexact-&gt;exact</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>inexact?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>infinite?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>input-port-open?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>input-port?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>integer-&gt;char</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>integer?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>interaction-environment</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>jiffiers-per-second</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lcm</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>length</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>list</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>list-&gt;string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>list-&gt;vector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>list-ref</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>list-tail</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>list?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>load</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>log</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>magnitude</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>make-bytevector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>make-eq-hashtable</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>make-eqv-hashtable</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>make-hashtable</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>make-list</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>make-parameter</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>make-polar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>make-promise</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>make-rectangular</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>make-string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>make-vector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>map</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>max</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>member</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>memp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>memq</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>memv</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>min</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>modulo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nan?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>negative?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>newline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>not</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>null-environment</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>null?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>number-&gt;string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>number?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>numerator</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>odd?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>only</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open-binary-input-file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open-binary-output-file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open-input-bytevector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open-input-file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open-input-string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open-output-bytevector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open-output-file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open-output-string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>output-port-open?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>output-port?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pair?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pare?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>partition</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>peek-char</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>peek-u8</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>port?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>positive?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>procedure?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>promise?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>quotient</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>raise</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rational?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rationalize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>read</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>read-bytevector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>read-bytevector?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>read-char</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>read-error?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>read-line</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>read-string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>read-u8</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>real-part</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>real?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>remainder</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>remove</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>remp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>remq</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>remv</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reverse</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>round</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scheme-report-environment</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>set-car!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>set-cdr!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>set-kar!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setcar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sqrt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-&gt;list</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-&gt;number</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-&gt;symbol</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-&gt;utf8</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-&gt;vector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-append</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-ci-hash</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-ci&lt;=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-ci&lt;?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-ci=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-ci&gt;=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-ci&gt;?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-copy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-copy!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-downcase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-fill!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-foldcase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-for-each</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-hash</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-length</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-map</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-ref</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string-set!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string&lt;=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string&lt;?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string&gt;=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string&gt;?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>string?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>substring</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>symbol-&gt;string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>symbol-hash</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>symbol=?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>symbol?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tan</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>textual-port?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>transcript-off</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>transcript-on</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>truncate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>truncate-quotient</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>truncate-remainder</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>truncate/</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>u8-ready</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>utf8-&gt;string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>values</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector-&gt;list</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector-&gt;string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector-append</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector-copy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector-copy!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector-fill!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector-for-each</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector-length</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector-map</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector-ref</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector-set!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>with-exception-handler</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>with-input-from-file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>with-output-to-file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>write</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>write-bytevector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>write-char</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>write-shared</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>write-simple</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>write-string</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>write-u8</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zero?</string>
		</dict>
	</array>
	<key>commentDelimiters</key>
	<dict>
		<key>beginDelimiter</key>
		<string>#|</string>
		<key>endDelimiter</key>
		<string>|#</string>
		<key>inlineDelimiter</key>
		<string>;</string>
	</dict>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#;(</string>
			<key>endString</key>
			<string>)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#;[</string>
			<key>endString</key>
			<string>]</string>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>scm</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>ss</string>
		</dict>
	</array>
	<key>filenames</key>
	<array/>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>=&gt;</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>and</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>begin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>case-lambda</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cond</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cond-expand</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>define</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>define-library</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>define-record-type</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>define-syntax</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>delay</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>delay-force</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>except</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>export</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fields</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>force</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>guard</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>import</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>include</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>include-ci</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>include-library-declarations</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>kar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>kdr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>kons</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lambda</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>let</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>let*</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>let-syntax</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>letrec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>letrec-syntax</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>library</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>not</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>only</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>or</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>parameterize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>prefix</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>protocol</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>quasiquote</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>quote</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rename</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>set!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>syntax-error</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>syntax-rules</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unless</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unquote</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unquote-splicing</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>when</string>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>author</key>
		<string>1024jp</string>
		<key>description</key>
		<string>support R5RS and R6RS</string>
		<key>distributionURL</key>
		<string>http://coteditor.github.io</string>
		<key>lastModified</key>
		<string>2014-08-28</string>
		<key>license</key>
		<string>Same as CotEditor</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#[0-9a-f]+\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b(#x(#[ie])?|(#[ie])?#x)([-+]?[0-9a-f][-+0-9a-f/|@.iesfdl]*)\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b((#[bod])?(#[ie])?|(#[ie])?(#[bod])?)([-+]?[0-9][-+0-9/|@.iesfdl]*)\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b[+-]?(inf|nan)\.0\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b\.[0-9]+\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^([\t ]*)\(define-library[[:space:]\(\[]+(\S+)</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$1library: $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([\t ]*)\(define-record-type[[:space:]\(\[]+(\S+)</string>
			<key>keyString</key>
			<string>$1record type: $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([\t ]*)\(define-syntax[[:space:]\(\[]+(\S+)</string>
			<key>italic</key>
			<true/>
			<key>keyString</key>
			<string>$1syntax: $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([\t ]*)\(define[[:space:]\(\[]+(\S+)</string>
			<key>keyString</key>
			<string>$1$2</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>Scheme</string>
	<key>typesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#!fold-case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#!no-fold-case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#\!\S+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#(</string>
			<key>endString</key>
			<string>)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#f</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#t</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#u8(</string>
			<key>endString</key>
			<string>)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bsd</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>darwin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exact-closed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exact-complex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>freebsd</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>full-unicode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>gnu-linux</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>i386</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ieee-float</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ilp32</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ilp64</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>jvm</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>llvm</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lp64</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pcc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>r5rs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>r6rs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>r7rs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ratios</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>solaris</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sparc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unix</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>windows</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>x86-64</string>
		</dict>
	</array>
	<key>variablesArray</key>
	<array/>
</dict>
</plist>
