<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesArray</key>
	<array/>
	<key>charactersArray</key>
	<array/>
	<key>commandsArray</key>
	<array/>
	<key>commentDelimiters</key>
	<dict>
		<key>beginDelimiter</key>
		<string>/*</string>
		<key>endDelimiter</key>
		<string>*/</string>
		<key>inlineDelimiter</key>
		<string>--</string>
	</dict>
	<key>commentsArray</key>
	<array/>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>sql</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>mysql</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>pgsql</string>
		</dict>
	</array>
	<key>filenames</key>
	<array/>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>add</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>all</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>allocate</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>alter</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>and</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>any</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>are</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>as</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>asensitive</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>asymmetric</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>at</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atomic</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>authorization</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>begin</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>between</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>both</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>by</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>call</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>called</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cascaded</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>case</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cast</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>check</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>close</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>collate</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>column</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>commit</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>condition</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>connect</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>constraint</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>continue</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>corresponding</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>create</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cross</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cube</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>current</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>current_date</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>current_default_transform_group</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>current_path</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>current_role</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>current_time</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>current_timestamp</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>current_transform_group_for_type</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>current_user</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cycle</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>deallocate</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>declare</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>default</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>delete</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>deref</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>describe</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>deterministic</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>disconnect</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>distinct</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>drop</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dynamic</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>each</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>element</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>elseif</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>end</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>escape</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>except</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exec</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>execute</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exists</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exit</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>external</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fetch</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>filter</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>float</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>foreign</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>free</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>from</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>full</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>function</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>get</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>global</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>grant</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>group</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>grouping</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>handler</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>having</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hold</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>identity</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>immediate</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>in</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>indicator</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>inner</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>inout</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>input</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>insensitive</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>insert</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>intersect</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>into</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>is</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>iterate</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>join</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>key</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>language</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>large</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lateral</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>leading</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>leave</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>left</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>like</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>local</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>localtime</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>localtimestamp</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>loop</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>marge</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>match</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>member</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>method</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>modifies</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>module</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>multiset</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>new</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>no</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>none</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>not</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>of</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>old</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>on</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>only</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>or</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>order</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>out</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>outer</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>output</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>over</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>overlaps</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>parameter</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>partition</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>prepare</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>primary</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>procedure</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>range</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reads</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>recursive</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ref</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>references</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>referencing</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>release</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>repeat</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>resignal</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>result</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>returns</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>right</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rollback</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rollup</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>row</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rows</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>savepoint</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scope</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scroll</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>search</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>select</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sensitive</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>session_user</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>set</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>signal</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>similar</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>some</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>specific</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>specifictype</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sql</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sqlexception</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sqlstate</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sqlwarning</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>start</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>static</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>submultiset</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>symmetric</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>system</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>system_user</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>table</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tablesample</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>then</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>to</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>trailing</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>translation</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>treat</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>trigger</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>undo</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>union</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unique</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unknown</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unnest</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>until</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>update</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>user</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>using</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>values</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>when</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>whenever</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>where</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>window</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>with</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>within</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>without</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>author</key>
		<string>1024jp</string>
		<key>distributionURL</key>
		<string>http://coteditor.github.io</string>
		<key>lastModified</key>
		<string>2014-08-15</string>
		<key>license</key>
		<string>Same as CotEditor</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\b\d+\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\d*\.\d+(e[-+?\d+])?</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\d+\.(\d+(e[-+]?\d+)?)?</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\d+e[-+]?\d+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array/>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>b'</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
	</array>
	<key>styleName</key>
	<string>SQL</string>
	<key>typesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>array</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bigint</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>binary</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>blob</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>boolean</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>character</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clob</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cursor</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>date</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>day</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dec</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>decimal</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>double</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>float</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hour</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>int</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>integer</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>interval</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>minute</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>month</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>national</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>natural</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nchar</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nclob</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>numeric</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>precision</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>real</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>second</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>smallint</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>text</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>time</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>timestamp</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>timezone_hour</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>timezone_minute</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>varchar</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>varying</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>year</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
	</array>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>false</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>null</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
	</array>
	<key>variablesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>`</string>
			<key>endString</key>
			<string>`</string>
		</dict>
	</array>
</dict>
</plist>
