<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bU+[0-9a-fA-F]{4,5}\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>@assignment</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@auto_closure</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@class_protocol</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@exported</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@final</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@IBAction</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@IBDesignable</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@IBInspectable</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@IBOutlet</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@lazy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@noreturn</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@NSCopying</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@NSManaged</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@objc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@optional</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@required</string>
		</dict>
	</array>
	<key>commentDelimiters</key>
	<dict>
		<key>beginDelimiter</key>
		<string>/*</string>
		<key>endDelimiter</key>
		<string>*/</string>
		<key>inlineDelimiter</key>
		<string>//</string>
	</dict>
	<key>commentsArray</key>
	<array/>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>swift</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>_</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__COLUMN__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__FILE__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__FUNCTION__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__LINE__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>as</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>associativity</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>break</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>class</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>continue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>default</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>deinit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>didSet</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dynamicType</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>enum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>extension</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fallthrough</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>func</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>get</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>import</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>in</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>infix</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>init</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>inout</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>is</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>left</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>let</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mutating</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>new</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>none</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nonmutating</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>operator</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>override</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>postfix</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>precedence</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>prefix</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>protocol</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>right</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Self</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>set</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>static</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>struct</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>subscript</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Type</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>typealias</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unowned</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>var</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>weak</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>where</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>willSet</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;![0-9a-z_])[-+]?([0-9][0-9._]*|\.[0-9][0-9_]*)(e-?[0-9._]+)?\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b0b[01][01_]*\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b0o[0-7][0-7_]*\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b0x[0-9a-fA-F][0-9a-fA-F_]*([pP]-?[0-9a-fA-F_]+)?\b</string>
			<key>ignoreCase</key>
			<false/>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^([ \t]*)(@final )?class[ \t]+(\w+)(?=[\s:][^\w])</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$1$2class $3</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([ \t]*)(@IBAction )?(override )?(class )?func[ \t]*(\w*)\((.*)\)</string>
			<key>keyString</key>
			<string>$1$2$3$4func $5($6)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([ \t]*)(override )?(class )?var[ \t]*(\w*)(?=[ \t]*:[ \t]*\w*\s*\{)</string>
			<key>keyString</key>
			<string>$1$2$3var $4</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([ \t]*)enum[ \t]+(\w+)</string>
			<key>keyString</key>
			<string>$1enum $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([ \t]*)extension[ \t]+(\w+)</string>
			<key>bold</key>
			<true/>
			<key>italic</key>
			<true/>
			<key>keyString</key>
			<string>$1extension $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([ \t]*)init[\t ]*\((.*)\)</string>
			<key>keyString</key>
			<string>$1init($2)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([ \t]*)protocol[ \t]+(\w+)</string>
			<key>italic</key>
			<true/>
			<key>keyString</key>
			<string>$1protocol $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([ \t]*)struct[ \t]+(\w+)</string>
			<key>keyString</key>
			<string>$1struct $2</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>Swift</string>
	<key>typesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>AnyClass</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>AnyObject</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Bool</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Boolean</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CDouble</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CFloat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Character</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CInt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CLong</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CLongLong</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CShort</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Dictionary</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Double</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Float</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ImplicitlyUnwrappedOptional</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Int</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Int16</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Int32</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Int8</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>NSErrorPointer</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ObjCBool</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Optional</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>String</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>UInt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>UInt16</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>UInt32</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>UInt8</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Void</string>
		</dict>
	</array>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>false</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nil</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
			<key>ignoreCase</key>
			<false/>
			<key>regularExpression</key>
			<false/>
		</dict>
	</array>
	<key>variablesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>$\d\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>newValue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>self</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>super</string>
		</dict>
	</array>
</dict>
</plist>
