<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>&lt;pre(\s[^&lt;&gt;]*)?&gt;</string>
			<key>endString</key>
			<string>&lt;/pre&gt;</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@[^\n]*@</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commandsArray</key>
	<array/>
	<key>commentsArray</key>
	<array/>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>textile</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#bold)(?&lt;![\\*])\*[^ \t*](?:\n[^\n]|[^\n])*?(?&lt;![\\ ])\*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#italic)(?&lt;![\_])_[^ \t*](?:\n[^\n]|[^\n])*?(?&lt;![\\ ])_</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^#+[\t ]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^\*+[\t ]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^bq([\[{()=&gt;]\S*)?\.[\t ]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^fn\d+\.[\t ]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^p([\[{()=&gt;]\S*)?\.[\t ]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>![&lt;&gt;]?\S*!</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^h1([\[{()=&gt;]\S*)?\.[\t ]*(.*)$</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^h2([\[{()=&gt;]\S*)?\.[\t ]*(.*)$</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>    $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^h3([\[{()=&gt;]\S*)?\.[\t ]*(.*)$</string>
			<key>keyString</key>
			<string>        $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^h4([\[{()=&gt;]\S*)?\.[\t ]*(.*)$</string>
			<key>keyString</key>
			<string>            $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^h5([\[{()=&gt;]\S*)?\.[\t ]*(.*)$</string>
			<key>keyString</key>
			<string>                $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^h6([\[{()=&gt;]\S*)?\.[\t ]*(.*)$</string>
			<key>keyString</key>
			<string>                    $2</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=!):\S*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;="):\S*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&lt;/[a-zA-Z]+&gt;</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&lt;[a-zA-Z]+([^&lt;&gt;]*)?&gt;</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^\[\S+\]\S</string>
			<key>endString</key>
			<string>$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>styleName</key>
	<string>Textile</string>
	<key>typesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^h[1-6]([\[{()=&gt;]\S*)?\.[\t ]</string>
			<key>endString</key>
			<string>$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\[\d+\]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\s"[^\n]*?"(?&gt;:)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
