<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>%[^&amp;%"]+;(?=[^&lt;&gt;]*[\[&gt;])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;!\w)'[^']*?'(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&lt;![CDATA[</string>
			<key>endString</key>
			<string>]]&gt;</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;)![A-Z]*</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;)\?[[:alnum:]_\-.:]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\?(?=&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#for SGML DTD)--(?:-[^-]|[^-])*--(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&lt;!--</string>
			<key>endString</key>
			<string>--&gt;</string>
			<key>regularExpression</key>
			<false/>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>xml</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>xsl</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>dtd</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>xslt</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>xsd</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>rlx</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>rng</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>trex</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>fo</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>fob</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>svg</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>mml</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>gml</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>cml</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>opf</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>ncx</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>xul</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>zul</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>smil</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>smi</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>mxml</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>rss</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>rdf</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>atom</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>plist</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>xib</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>xmp</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)[[:alnum:]_\-.:]+(?=[[:space:]/&gt;])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=[[:space:](|,])[[:alnum:]_\-.:%]+(?=[[:space:])|,]?[^&lt;&gt;\[]*[&gt;\[])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#for SGML DTD)(?&lt;!ATTLIST)\s+[O\-]\s+[O\-](?=\s[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)[[:alnum:]_\-.]+:(?=\w)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\b)[[:alnum:]_\-.]+:(?=\w[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)[[:alnum:]_\-.]+:(?=(\w|[\-.])+\s*=)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array/>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;\S+?;</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=NDATA)\s+[[:alnum:]_\-.]+(?=\s*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>styleName</key>
	<string>XML</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#for SGML DTD)(?&lt;=\s)(?:SDATA|RCDATA|NAME|NUMBER|#CONREF|#SUBDOC)(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=[(|])#PCDATA(?=\b)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\[)\s*(?:IGNORE|INCLUDE)\s*(?=\[)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)#(?:FIXED|IMPLIED|REQUIRED)(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)(?:ANY|EMPTY)(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)(?:PUBLIC|SYSTEM)(?=\s+["'])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)[[:alnum:]_\-.:]+(?=\s*=)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)CDATA(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)ENTIT(?:Y|IES)(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)ID(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)IDREFS?(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)NDATA(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)NMTOKENS?(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\s)NOTATION(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
