<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesArray</key>
	<array/>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\b\d{4}-\d{2}-\d{2}( \d{2}:\d{2}:\d{2}( [-+]\d{2}:\d{2})?)?\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>%TAG</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>%YAML [0-9.]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^---[ \n]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^\.\.\.$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commentDelimiters</key>
	<dict>
		<key>inlineDelimiter</key>
		<string>#</string>
	</dict>
	<key>commentsArray</key>
	<array/>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>yaml</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>yml</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=[-\n\[\{,]|\A)[ \t]*[^-:\[\]\n ][^:\[\]\n ]*(?=[\t ]*:[ \t\n])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>author</key>
		<string>1024jp</string>
		<key>distributionURL</key>
		<string>http://coteditor.github.io</string>
		<key>lastModified</key>
		<string>2014-08-17</string>
		<key>license</key>
		<string>Same as CotEditor</string>
		<key>version</key>
		<string>1.1</string>
	</dict>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=([-:]|!!float|!!int)) +[0-9,.]+(?=[ \n\}\]])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>.inf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>0x[0-9a-fA-F]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^  ([^ ].*?):</string>
			<key>keyString</key>
			<string>    $1:</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([^ ].*?):</string>
			<key>keyString</key>
			<string>$1:</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^---</string>
			<key>keyString</key>
			<string>-</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>'[^\n]*?'</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>styleName</key>
	<string>YAML</string>
	<key>typesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!binary</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!bool</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!float</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!int</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!map</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!merge</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!null</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!omap</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!pairs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!seq</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!set</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!str</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!timestamp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!value</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!yaml</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!&lt;</string>
			<key>endString</key>
			<string>&gt;</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;!!)!\w+(!(\w+)?)?</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\btag:\S+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;!!)null\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>false</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>no</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>off</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>on</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>yes</string>
			<key>ignoreCase</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>~</string>
		</dict>
	</array>
	<key>variablesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>&amp;[^ \t\n]+\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\*[^ \t\n]+\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
