<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\b\d{4}-\d{2}-\d{2}( \d{2}:\d{2}:\d{2}( [-+]\d{2}:\d{2})?)?\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>!!binary</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!bool</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!float</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!int</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!map</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!merge</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!null</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!omap</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!pairs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!seq</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!set</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!str</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!timestamp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!value</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>!!yaml</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>%YAML [0-9.]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^---[ \n]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^\.\.\.$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#.*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>yaml</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>yml</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=[\n\[\{,]|\A)[ \t]*[^-:\[\]\n]*(?=[\t ]*:[ \t\n])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>numOfObjInArray</key>
	<integer>36</integer>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=[-:]) +[0-9,.]+(?=[ \n\}\]])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>.inf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>0x[0-9a-fA-F]+</string>
			<key>ignoreCase</key>
			<false/>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^  ([^ ].*?):</string>
			<key>keyString</key>
			<string>    $1:</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([^ ].*?):</string>
			<key>keyString</key>
			<string>$1:</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^---</string>
			<key>keyString</key>
			<string>-</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>'[^\n]*?'</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>styleName</key>
	<string>YAML</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>&amp;[^ \t\n]+\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\*[^ \t\n]+\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>false</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>no</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>null</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>off</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>on</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>~</string>
		</dict>
	</array>
</dict>
</plist>
