<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>cd</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>df</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>du</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>echo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>env</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>eval</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>export</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getopts</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hostname</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ls</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mkdir</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>printenv</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ps</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pwd</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>read</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>readonly</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>set</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shift</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>test</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>touch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>trap</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>type</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>umask</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>wait</string>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^#(.*+)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>sh</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>break</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>continue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>done</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fi</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>then</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>until</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>`</string>
			<key>endString</key>
			<string>`</string>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^(#.+)$</string>
			<key>keyString</key>
			<string>$1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([\t ]*)(.*)\(\)[\n\t ]*{</string>
			<key>keyString</key>
			<string>$1$2 ()</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>Shell Script</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>$!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$#</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$$</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$*</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$-</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$@</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\${*[0-9]+}*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
