<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array/>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>/*</string>
			<key>endString</key>
			<string>*/</string>
		</dict>
	</array>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>css</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>azimuth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>background</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>background-attachment</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>background-color</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>background-image</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>background-position</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>background-repeat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-bottom</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-bottom-color</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-bottom-style</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-bottom-width</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-collapse</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-color</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-left</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-left-color</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-left-style</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-left-width</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-right</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-right-color</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-right-style</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-right-width</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-spacing</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-style</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-top</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-top-color</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-top-style</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-top-width</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border-width</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bottom</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>caption-side</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ceu</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ceu-before</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clear</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clip</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>color</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cue-after</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cursor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>display</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>elevation</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>empty-cells</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>float</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>font-family</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>font-size</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>font-size-adjust</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>font-stretch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>font-style</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>font-variant</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>font-weight</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>height</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>left</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>letter-spacig</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>line-height</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>list-style</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>list-style-image</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>list-style-position</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>list-style-type</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>margin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>margin-bottom</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>margin-left</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>margin-right</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>margin-top</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>marker-offset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>overflow</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>padding</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>padding-bottom</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>padding-left</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>padding-right</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>padding-top</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pause</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pich</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pich-range</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>play-during</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>position</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>richness</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>right</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>speak</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>speak-header</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>speak-numeral</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>speak-punctuation</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>speech-rate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>stress</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>table-layout</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>text-align</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>text-decoration</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>text-indent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>text-shadow</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>text-transform</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>top</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vertical-align</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>visibility</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>voice-family</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>volume</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>white-space</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>width</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>word-spacing</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>z-index</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>[0-9]+?(%|(em)|(ex)|(pt)|(px))</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[^[:alnum:]|#]0</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\@(import|charset)\W(.*);[\t ]*$</string>
			<key>italic</key>
			<true/>
			<key>keyString</key>
			<string>@$1 $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\@(media|page|font-face)\W([^{\n]*)$</string>
			<key>italic</key>
			<true/>
			<key>keyString</key>
			<string>@$1 $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[ ]*([#.]*.*)[\n\t ]*{</string>
			<key>ignoreCase</key>
			<false/>
			<key>keyString</key>
			<string>$1</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#[0-9a-fA-F]{3}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>#[0-9a-fA-F]{6}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>styleName</key>
	<string>CSS</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>:[' ']*?after</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:[' ']*?before</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:[' ']*?first-child</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:[' ']*?first-letter</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>:[' ']*?first-line</string>
			<key>ignoreCase</key>
			<false/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>a[' ']*?:[' ']*?active</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>a[' ']*?:[' ']*?focus</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>a[' ']*?:[' ']*?hover</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>a[' ']*?:[' ']*?link</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>a[' ']*?:[' ']*?visited</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>absolute</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>armenian</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>auto</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>baseline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>blink</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>block</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bold</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bolder</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>both</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bottom</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>capitalize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>center</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>circle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cjk-ideographic</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>collapse</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>condensed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>crosshair</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cursive</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dashed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>decimal</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>decimal-leading-zero</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>default</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>disc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dotted</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>double</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>e-resize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>expanded</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>extra</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>extra-condensed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fantasy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fixed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>georgian</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>groove</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hebrew</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>help</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hidden</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hide</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hiragana</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hiragana-iroha</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>inline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>inset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>inside</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>italic</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>justify</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>katakana</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>katakana-iroha</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>large</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>larger</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>left</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lighter</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>line-through</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>list-item</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lower-alpha</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lower-greek</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lower-latin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lower-roman</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lowercase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>medium</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>middle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>monospace</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>move</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>narrower</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ne-resize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>none</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>norepeat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>normal</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nowrap</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nw-resize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>oblique</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>outset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>outside</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>overline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pointer</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pre</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>relative</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>repeat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>repeat-x</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>repeat-y</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ridge</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>right</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>s-resize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sans-serif</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scroll</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>se-resize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>semi-condensed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>semi-expanded</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>separate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>serif</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>show</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>small</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>small-caps</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>smaller</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>solid</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>square</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>static</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sub</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>super</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sw-resize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>text</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>text-bottom</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>text-top</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>thick</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>thin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>top</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>transparent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ultra-condensed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>underline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>upper-alpha</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>upper-latin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>upper-roman</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>uppercase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>url</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>visible</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>w-resize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>wait</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>wider</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>x-large</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>x-small</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xx-large</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xx-small</string>
		</dict>
	</array>
</dict>
</plist>
