<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'.'</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>abs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>acos</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>acosh</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>all</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>and</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>any</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>appendFile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>asin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>asinh</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>asTypeOf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atan</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atan2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atanh</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>break</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>catch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ceiling</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>compare</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>concat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>concatMap</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>const</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cos</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cosh</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>curry</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cycle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>decodeFloat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>div</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>divMod</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>drop</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dropWhile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>either</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>elem</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>encodeFloat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>enumFrom</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>enumFromThen</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>enumFromThenTo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>enumFromTo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>error</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>even</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exponent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fail</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>filter</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>flip</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>floatDigits</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>floatRadix</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>floatRange</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>floor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fmap</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>foldl</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>foldl1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>foldr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>foldr1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fromEnum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fromInteger</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fromIntegral</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fst</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>gcd</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getChar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getContents</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getLine</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>id</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>init</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>interact</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ioError</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isDenormalized</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isIEEE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isInfinite</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isNaN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isNegativeZero</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>iterate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>last</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lcm</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>length</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lines</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>log</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>logBase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lookup</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>map</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mapM</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mapM_</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>max</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>maxBound</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>maximum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>maybe</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>min</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>minBound</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>minimum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mod</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>negate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>not</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>notElem</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>null</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>odd</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>or</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>otherwise</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pi</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pred</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>print</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>product</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>properFraction</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>putChar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>putStr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>putStrLn</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>quot</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>quotRem</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>read</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>readFile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>readIO</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>readList</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>readLn</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>readParen</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reads</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>readsPrec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>realToFrac</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rem</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>repeat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>replicate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reverse</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>round</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scaleFloat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scanl</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scanl1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scanr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scanr1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>seq</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sequence</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sequence_</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>show</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>showChar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>showList</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>showParen</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>showPrec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shows</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>showString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>significand</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>signum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sinh</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>snd</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>span</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>splitAt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sqrt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>subtract</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>succ</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tail</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>take</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>takeWhile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tan</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tanh</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toEnum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toInteger</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toRational</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>truncate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>uncurry</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>undefined</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unlines</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>until</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unwords</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unzip</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unzip3</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>userError</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>words</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>writeFile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zip</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zip3</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zipWith</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zipWith3</string>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>--.*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>{-</string>
			<key>endString</key>
			<string>-}</string>
			<key>regularExpression</key>
			<false/>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>hs</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>lhs</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>class</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>data</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>default</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>deriving</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hiding</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>import</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>in</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>infix</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>infixl</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>infixr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>instance</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>let</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>module</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>newtype</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>of</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>then</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>type</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>where</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\W)-?\d+(\.\d+)*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=\W)0[xX]([0-9a-fA-F])+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^[\t ]*([a-z][\w_']*\s*.+?)(?=\s*=)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[\t ]*([a-z][\w_']*\s*::.+?$)</string>
			<key>bold</key>
			<true/>
			<key>italic</key>
			<true/>
			<key>keyString</key>
			<string>$1</string>
			<key>underline</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[\t ]*class\s*([A-Z].*\s+[a-z].*|\([\t ]*[A-Z].*[\t ]+[a-z].*([\t ]*,[\t ]*[A-Z][\w']*[\t ]+[A-Z][\w']*)*[\t ]*\))?[\t ]*=&gt;[\t ]*[A-Z].*(where|$)</string>
			<key>underline</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[\t ]*instance\s*([A-Z].*\s+[a-z].*|\([\t ]*[A-Z].*[\t ]+[a-z].*([\t ]*,[\t ]*[A-Z][\w']*[\t ]+[A-Z][\w']*)*[\t ]*\))?[\t ]*=&gt;[\t ]*[A-Z].*(where|$)</string>
			<key>underline</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[¥t ]*data[\t ]+([A-Z][\w']*)(?=[\t ]*\=)</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>data $1</string>
			<key>underline</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[¥t ]*type[\t ]+([A-Z][\w']*)((?:[¥t ]+[a-z][\w']*)*)(?=[¥t ]*\=)</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>type $1$2</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>Haskell</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\b[A-Z][\w_\']*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
