<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array/>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>&lt;%</string>
			<key>endString</key>
			<string>%&gt;</string>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>&lt;%#</string>
			<key>endString</key>
			<string>%&gt;</string>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>erb</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>rhtml</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array/>
	<key>numbersArray</key>
	<array/>
	<key>outlineMenuArray</key>
	<array/>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>&lt;%=</string>
			<key>endString</key>
			<string>%&gt;</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>eRuby</string>
	<key>valuesArray</key>
	<array/>
</dict>
</plist>
