<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array/>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>[\\¥]caption{.+}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]centering</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]cite{([^}])+}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]file{.+}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]hfill</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]includegraphics(\[.+\])?{.+}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]label{.+}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]LARGE</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]Large</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]large</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]maketitle</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]normalsize</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]ref{([^}])+}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]renewcommand.*$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]sf</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]text(tt|bf){.+}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]tt</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^\s*[\\¥]item</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>%.*$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>completionsArray</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>begin</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>chapter</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>end</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>equation</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>section</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>subsection</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>subsubsection</string>
		</dict>
	</array>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>tex</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>TEX</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>[\\¥]author{.*}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]begin{.*}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]chapter\*?{.+}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]date{.*}</string>
			<key>ignoreCase</key>
			<false/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]documentclass(\[.+\])?{.+}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]end{.*}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]pagestyle{.*}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]part{.+}</string>
			<key>ignoreCase</key>
			<false/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]section\*?{.*}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]subsection\*?{.*}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]subsubsection\*?{.*}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]title{.*}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]usepackage(\[.+\])?{.+}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>[\\¥]frac{[^}]+}{[^}]+</string>
			<key>endString</key>
			<string>}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>[\\¥]chapter\*?{(.*)}</string>
			<key>keyString</key>
			<string>$1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]part\*?{(.*)}</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]section\*?{(.*)}</string>
			<key>keyString</key>
			<string>- $1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]subsection\*?{(.*)}</string>
			<key>keyString</key>
			<string>-- $1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[\\¥]subsubsection\*?{(.*)}</string>
			<key>keyString</key>
			<string>--- $1</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array/>
	<key>styleName</key>
	<string>LaTeX</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>[\\¥](La)?TeXe?</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\$([^$\n]+)\$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
