<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>abs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>accept</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>alarm</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atan2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bind</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>binmode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bless</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>caller</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>chdir</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>chmod</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>chomp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>chop</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>chown</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>chr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>chroot</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>close</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>closedir</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>connect</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cos</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>crypt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dbmclose</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dbmopen</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>defined</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>delete</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>die</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dump</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>endgrent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>endhostent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>endnetent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>endprotoent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>endpwent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>endservent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>eof</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>eval</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exists</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fcntl</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fileno</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>flock</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fork</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>formline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getgrent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getgrgid</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getgrnam</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>gethostbyaddr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>gethostbyname</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>gethostent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getlogin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getnetbyaddr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getnetbyname</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getnetent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getpeername</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getpgrp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getppid</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getpriority</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getprotobyname</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getprotobynumber</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getprotoent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getpwent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getpwnam</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getpwuid</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getservbyname</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getservbyport</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getservent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getsockname</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getsockopt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>glob</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>gmtime</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>goto</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>grep</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>import</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>index</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>int</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ioctl</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>join</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>keys</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>kill</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>last</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lcfirst</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>length</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>link</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>listen</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>local</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>localtime</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>log</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lstat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>map</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mkdir</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>msgctl</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>msgget</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>msgrcv</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>msgsnd</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>my</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>next</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>no</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>oct</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>opendir</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ord</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pack</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pipe</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pop</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pos</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>print</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>printf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>push</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>quotemeta</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rand</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>read</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>readdir</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>readlink</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>recv</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>redo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ref</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rename</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>require</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reverse</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rewinddir</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rindex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rmdir</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scalar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>seek</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>seekdir</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>select</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>semctl</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>semget</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>semop</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>send</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setgrent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sethostent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setnetent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setpgrp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setpriority</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setprotoent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setpwent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setservent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setsockopt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shift</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shmctl</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shmget</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shmread</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shmwrite</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shutdown</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sleep</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>socket</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>socketpair</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sort</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>splice</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>split</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sprintf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sqrt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>srand</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>stat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>study</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>substr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>symlink</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>syscall</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sysread</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>system</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>syswrite</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tell</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>telldir</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tie</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>time</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>times</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>truncate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>uc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ucfirst</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>umask</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>undef</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unlink</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unpack</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unshift</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>untie</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>url_decode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>url_encode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>use</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>utime</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>values</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>wait</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>waitpid</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>wantarray</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>warn</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>write</string>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#(.*+)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>pl</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>cgi</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>continue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>elsif</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>foreach</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>or</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sub</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unless</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>untill</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array/>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^([\t ]*)(sub)[ ]*([a-z][a-z0-9_]*)[^{].*{</string>
			<key>ignoreCase</key>
			<true/>
			<key>keyString</key>
			<string>$1$2 $3 {}</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[ ]*(\@ISA)([^;]*);</string>
			<key>ignoreCase</key>
			<true/>
			<key>italic</key>
			<true/>
			<key>keyString</key>
			<string>$1 $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[ ]*(package)[ ]*([a-z][a-z0-9_]*).*$</string>
			<key>ignoreCase</key>
			<true/>
			<key>italic</key>
			<true/>
			<key>keyString</key>
			<string>$1 $2</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>Perl</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>$!</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$#</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$$</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$%</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$&amp;</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$'</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$(</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$*</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$+</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$,</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$-</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$.</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$/</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$0</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$:</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$;</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$&lt;</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$=</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$&gt;</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$?</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$@</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$[</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$\</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$]</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$^</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$^A</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$^D</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$^F</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$^I</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$^L</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$^P</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$^T</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$^W</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$^X</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$_</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$`</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$ACCUMULATOR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$ARGV</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$BASETIME</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$CHILD_ERROR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$DEBUGGING</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$EFFECTIVE_GROUP_ID</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$EFFECTIVE_USER_ID</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$EGID</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$ENV</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$ERRNO</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$EUID</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$EVAL_ERROR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$EXECUTABLE_NAME</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$FORMAT_FORMFEED</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$FORMAT_LINE_BREAK_CHARACTERS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$FORMAT_LINES_LEFT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$FORMAT_LINES_PER_PAGE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$FORMAT_NAME</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$FORMAT_PAGE_NUMBER</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$FORMAT_TOP_NAME</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$GID</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$INPLACE_EDIT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$INPUT_LINE_NUMBER</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$INPUT_RECORD_SEPARATOR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$LAST_PAREN_MATCH</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$LIST_SEPARATOR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$MATCH</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$NR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$OFMT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$OFS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$ORS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$OS_ERROR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$OUTPUT_FIELD_SEPARATOR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$OUTPUT_RECORD_SEPARATOR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$PERL_VERSION</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$PERLDB</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$PID</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$POSTMATCH</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$PREMATCH</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$PROCESS_ID</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$PROGRAM_NAME</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$REAL_GROUP_ID</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$REAL_USER_ID</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$RS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$SIG</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$SUBSCRIPT_SEPARATOR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$SUBSEP</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$SYSTEM_FD_MAX</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$UID</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$WARNING</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$|</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>$~</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>%INC</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@ARGV</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@INC</string>
		</dict>
	</array>
</dict>
</plist>
