<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array/>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>@classmethod</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>@staticmethod</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__abs__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__add__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__and__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__call__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__cmp__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__coerce__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__complex__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__contains__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__del__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__delattr__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__delete__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__delitem__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__delslice__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__div__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__divmod__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__eq__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__float__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__floatdiv__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__ge__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__get__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__getattr__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__getattribute__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__getitem__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__getslice__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__gt__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__hash__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__hex__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__iadd__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__iand__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__idiv__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__ifloordiv__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__ilshift__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__imod__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__import__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__imul__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__init__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__int__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__invert__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__ior__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__ipow__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__irshift__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__isub__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__iter__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__itruediv__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__ixor__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__le__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__len__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__long__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__lshift__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__lt__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__mod__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__mul__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__ne__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__neg__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__new__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__nonzero__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__oct__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__or__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__pos__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__pow__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__radd__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rand__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rcmp__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rdiv__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rdivmod__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__repr__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rfloordiv__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rlshift__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rmod__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rmul__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__ror__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rpow__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rrshift__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rshift__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rsub__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rtruediv__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__rxor__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__set__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__setattr__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__setitem__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__setslice__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__str__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__sub__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__truediv__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__unicode__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__xor__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>abs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>add</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>append</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>apply</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bool</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>buffer</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>callable</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>capitalize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>center</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>chr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>classmethod</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clear</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>close</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cmp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>coerce</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>compile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>complex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>conjugate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>copy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>count</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>decode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>delattr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dict</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>difference</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>difference_update</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dir</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>discard</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>divmod</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>encode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>endswith</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>enumerate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>eval</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>execfile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>expandtabs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>extend</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fileno</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>filter</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>find</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>float</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>flush</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fromkeys</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>frozenset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>get</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getattr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>globals</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>has_key</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hasattr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hash</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>help</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>id</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>index</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>indices</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>input</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>insert</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>int</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>intern</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>intersection</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>intersection_update</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isalnum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isalpha</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isatty</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isdigit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isinstance</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>islower</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isspace</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>issubclass</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>issubset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>issuperset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>istitle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isupper</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>items</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>iter</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>iteritems</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>iterkeys</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>itervalues</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>join</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>keys</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>len</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>list</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ljust</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>locals</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>long</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lower</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lstrip</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>map</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>max</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>min</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>next</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>object</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>oct</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ord</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pop</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>popitem</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pow</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>property</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>range</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>raw_input</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>read</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>readline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>readlines</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reduce</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reload</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>remove</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>replace</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>repr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reverse</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reversed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rfind</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rindex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rjust</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>round</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rsplit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rstrip</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>seek</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>set</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setattr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setdefault</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>slice</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sort</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sorted</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>split</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>splitlines</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>startswith</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>staticmethod</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>str</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>strip</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>super</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>swapcase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>symmetric_difference</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>symmetric_difference_update</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tell</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>title</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>translate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>truncate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tuple</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>type</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unichr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unicode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>union</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>update</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>upper</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>values</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vars</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>write</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>writelines</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xrange</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xreadlines</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zfill</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zip</string>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#.*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>py</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>pyw</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>and</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>as</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>assert</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>break</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>class</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>continue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>def</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>del</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>elif</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>except</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>finally</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>from</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>global</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>import</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>in</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>is</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lambda</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>not</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>or</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pass</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>print</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>raise</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>try</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>yield</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(\b\d+\.|(\b\d+)?\.\d+)(e[+-]?\d+)?j?</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b(0[0-7]+|[1-9]\d*|0)(e[+-]?\d+|l)?j?\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b0x[\da-f]+l?\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^([\t ]*)class[\t ]+(.+?)$</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$1$2</string>
			<key>underline</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([\t ]*)def[\t ]+(.+?)$</string>
			<key>italic</key>
			<false/>
			<key>keyString</key>
			<string>$1$2</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(r|u|ur)?"""(.|[\r\n])*?"""</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(r|u|ur)?"(\\.|[^"\r\n])*?"</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(r|u|ur)?'''(.|[\r\n])*?'''</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(r|u|ur)?'(\\.|[^'\r\n])*?'</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>styleName</key>
	<string>Python</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>__bases__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__class__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__dict__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__doc__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__file__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__metaclass__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__module__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__name__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__self__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>__slots__</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>basestring</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>closed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Ellipsis</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>encoding</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>False</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>func_closure</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>func_code</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>func_defaults</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>func_dict</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>func_doc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>func_globals</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>func_name</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>im_class</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>im_func</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>im_self</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>imag</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>name</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>newlines</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>None</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>NotImplemented</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>real</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>self</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>softspace</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>True</string>
		</dict>
	</array>
</dict>
</plist>
