<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>abs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>acos</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>alert</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>allpy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>anchor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>appendChild</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>asin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>assign</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atan</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atan2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atob</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>back</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>big</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>blink</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>blur</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bold</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>btoa</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>call</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>captureEvents</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ceil</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>charAt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>charCodeAt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clear</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clearInterval</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clearTimeout</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>click</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>close</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>compile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>concat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>confirm</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cos</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>createElement</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>createRange</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>createStyleSheet</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>disableExternalCapture</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dispatchEvent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>E</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>elementFromPoint</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>empty</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>enableExternalCapture</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>escape</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>eval</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>execScript</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>find</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fixed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>floor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>focus</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fontcolor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fontsize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>forward</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fromCharCode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getDate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getDay</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getElementById</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getElementsByName</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getElementsByTagName</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getFullYear</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getHours</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getMilliseconds</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getMinutes</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getMonth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getSeconds</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getSelection</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getTime</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getTimezoneOffset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getUTCDate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getUTCDay</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getUTCFullYear</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getUTCHours</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getUTCMilliseconds</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getUTCMinutes</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getUTCMonth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getUTCSeconds</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getUTCYear</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getYear</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>go</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>handleEvent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>home</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>indexOf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isFinite</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isNaN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>italics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>item</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>javaEnabled</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lastIndexOf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>link</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>LN10</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>LN2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>load</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>log</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>LOG10E</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>LOG2E</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>match</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>max</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>min</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>moveBy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>moveTo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>moveToAbsolute</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>parse</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>parseFloat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>parseInt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PI</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pop</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pow</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>preference</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>print</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>prompt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>push</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>random</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>releaseEvents</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reload</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>replace</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>resizeBy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>resizeTo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reverse</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>round</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>routeEvent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scroll</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scrollBy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scrollTo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>search</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>select</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setDate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setFullYear</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setHours</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setInterval</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setMilliseconds</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setMinutes</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setMonth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setSeconds</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setTime</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setTimeout</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setUTCDate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setUTCDay</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setUTCFullYear</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setUTCHours</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setUTCMilliseconds</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setUTCMinutes</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setUTCMonth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setUTCSeconds</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setUTCYear</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setYear</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shift</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>showHelp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>showModalDialog</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>showModelessDialog</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>slice</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>small</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sort</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>splice</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>split</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sqrt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SQRT1_2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SQRT2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>stop</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>strike</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>style</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sub</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>submit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>substr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>substring</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sup</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tan</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>test</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toGMTString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toLocaleString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toLowerCase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toSource</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toUpperCase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toUTCString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toVarDate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unescape</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unshift</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>UTC</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>valueOf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>write</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>writeln</string>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>/*</string>
			<key>endString</key>
			<string>*/</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>//([^\n])*?\n</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>js</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>break</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>continue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>function</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>goto</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>in</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>label</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>new</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onabort</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onblur</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onchange</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onclick</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ondblclick</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ondragdrop</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onerror</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onfocus</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onkeyDown</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onkeypress</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onkeyup</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onload</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onmousedown</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onmousemove</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onmouseout</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onmouseover</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onmouseup</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onmove</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onreset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onresize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onselect</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onsubmit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onunload</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>var</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>with</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array/>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^([\t ]*)(function)([^{]*){</string>
			<key>keyString</key>
			<string>$1$2 : $3</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>JavaScript</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>above</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>action</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>activeElement</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>alinkColor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>all</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>altKey</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>anchors</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>appCodeName</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>applets</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>appMinorVersion</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>appName</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>appVersion</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>arguments</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>arity</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>availHeight</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>availWidth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>background</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>below</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bgColor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Boolean</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bottom</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>browserLanguage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bufferDepth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>button</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>caller</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cancelBubble</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>charset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>checked</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>childNodes</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>className</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clientInformation</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clientX</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clientY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clip</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>closed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>colorDepth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>complete</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>constructor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cookie</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cookieEnabled</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cpuClass</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ctrlKey</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>current</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>data</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Date</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>defaultCharset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>defaultChecked</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>defaultStatus</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>defaultValue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>description</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dialogArguments</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dialogHeight</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dialogLeft</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dialogTop</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dialogWidth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>document</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>domain</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>elements</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>embeds</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>enabledPlugin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>encoding</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>event</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>expando</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>false</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fgColor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>filename</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>firstChild</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>forms</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fromElement</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Function</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>global</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hash</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>height</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>history</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>host</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hostname</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>href</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hspace</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>id</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ignoreCase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Image</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>images</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>index</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Infinity</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>innerHeight</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>innerHTML</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>innerText</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>innerWidth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>input</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>keyCode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lang</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>language</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lastChild</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lastIndex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lastMatch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lastModified</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lastParen</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>layers</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>layerX</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>layerY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>left</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>leftContext</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>length</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>linkColor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>links</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>location</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>locationbar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lowsrc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Math</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>MAX_VALUE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>menubar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>method</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mimeTypes</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>MIN_VALUE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>modifiers</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>moveAbove</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>moveBelow</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>multiline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>name</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>NaN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>navigator</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>NEGATIVE_INFINITY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>next</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nextSibling</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>null</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Object</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>offscreenBuffering</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>offsetX</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>offsetY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>onLine</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>opener</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>options</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>outerHeight</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>outerWidth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pageX</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pageXOffset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pageY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pageYOffset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>parent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>parentElement</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>parentLayer</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>parentNode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>parentWindow</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pathname</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>personalbar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pixelDepth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>platform</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>plugins</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>port</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>POSITIVE_INFINITY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>previous</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>previousSibling</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>protocol</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>prototype</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>readyState</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reason</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>referrer</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>RegExp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>returnValue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>right</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rightContext</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>screenX</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>screenY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scrollbars</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>search</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>selectedIndex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>selection</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>self</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shiftKey</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>siblingAbove</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>siblingBelow</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>source</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>src</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>srcElement</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>srcFilter</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>status</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>statusbar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>String</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>suffixes</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>systemLanguage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tagName</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>target</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>text</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>title</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toolbar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>top</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>type</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>undefined</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>updateInterval</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>userAgent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>userLanguage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>userProfile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>value</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>visibility</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>visible</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vlinkColor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vspace</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>which</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>width</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Window</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>x</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>y</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zIndex</string>
		</dict>
	</array>
</dict>
</plist>
