<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#[extra] codeblock)^[~]{3,}[{[:space:]](?!~~~)(?:.|\n)*?\n[\t ]*[~]{3,}[\t ]*$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#[github] codeblock)^```[^`](?!```)(?:.|\n)*?\n[\t ]*```</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#code)(?&lt;![\\`])`(?:\n[^\n]|[^\n])*?(?&lt;!\\)`</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#code)(?&lt;!\\)``(?:\n[^\n]|[^\n])*?(?&lt;!\\)``</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#h1).+\n\=+[\t ]*$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#h1-6)^#{1,6}[ \t]?</string>
			<key>endString</key>
			<string>$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#h2).+\n\-+[\t ]*$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>&lt;!--</string>
			<key>endString</key>
			<string>--&gt;</string>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>mkd</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>md</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>markdown</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>mdown</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>mkdn</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#[extra] dt)\n[^: \t][^\n]*(?=([\t ]*\n)?\n[\t ]*:[\t ])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#[extra] footnote)^[ ]{0,3}\[\^[a-zA-Z0-9]*\]:\s</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#blockquote)^([ ]{4}|\t)?&gt;[\t ]</string>
			<key>endString</key>
			<string>(\n[ \t]*\n)|\z</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#em)(?&lt;![\\*])\*[^ \t*](?:\n[^\n]|[^\n])*?(?&lt;![\\ ])\*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#em)(?&lt;![\\_])_[^ \t_](?:\n[^\n]|[^\n])*?(?&lt;![\\ ])_</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#hr)\n[\t ]*\n(?:\- *){3,}$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#hr)^(?:\* *){3,}$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#hr)^(?:\_ *){3,}$</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#li)^[ \t]*[\*\-\+][ \t]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#li)^[ \t]*\d+\.[ \t]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#strong)(?&lt;!\\)\*\*(?![ \t])(?:\n[^\n]|[^\n])*?(?&lt;![\\\t ])\*\*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#strong)(?&lt;!\\)__(?![ \t])(?:\n[^\n]|[^\n])*?(?&lt;![\\\t ])__</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#img)(?&lt;!\\)!\[.*?(?&lt;!\\)\](?=\()</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#img)(?&lt;!\\)!\[.*?(?&lt;!\\)\][ ]?(?=\[)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(.+)(?=\n\-+[\t ]*$)</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>    $1</string>
			<key>underline</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(.+)(?=\n\=+[\t ]*$)</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>$1</string>
			<key>underline</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^#[\t ]?([^#][^\n]*?)#*$</string>
			<key>bold</key>
			<true/>
			<key>ignoreCase</key>
			<false/>
			<key>keyString</key>
			<string>$1</string>
			<key>underline</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^#{2}[\t ]?([^#][^\n]*?)#*$</string>
			<key>bold</key>
			<true/>
			<key>keyString</key>
			<string>    $1</string>
			<key>underline</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^#{3}[\t ]?([^#][^\n]*?)#*$</string>
			<key>keyString</key>
			<string>        $1</string>
			<key>underline</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^#{4}[\t ]?([^#][^\n]*?)#*$</string>
			<key>keyString</key>
			<string>            $1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^#{5}[\t ]?([^#][^\n]*?)#*$</string>
			<key>keyString</key>
			<string>                $1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^#{6}[\t ]?([^#][^\n]*?)#*$</string>
			<key>keyString</key>
			<string>                    $1</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#[extra] abbr)^[ ]{0,3}\*\[[^\^].*(?&lt;!\\)\]:\s</string>
			<key>endString</key>
			<string>(\n[ \t]*\n)|\z</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#a href)(?&lt;=\]) ?(?&lt;!\\)\[.*?(?&lt;!\\)\]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#a href)(?&lt;=])\(.*?\)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#a href)^[ ]{0,3}\[[^\^].*(?&lt;!\\)\]:[ \t]+</string>
			<key>endString</key>
			<string>(\n[ \t]*\n)|\z</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#HTML tag)(?&lt;!\\)&lt;/[a-zA-Z][a-zA-Z1-6]*&gt;</string>
			<key>ignoreCase</key>
			<false/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#HTML tag)(?&lt;!\\)&lt;[a-zA-Z][a-zA-Z1-6]*(\s[^&lt;&gt;]+)?&gt;</string>
			<key>ignoreCase</key>
			<false/>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>styleName</key>
	<string>Markdown</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?#[extra] a footnote)(?&lt;!(^[ ]{0,3}|\\))\[\^[a-zA-Z0-9]+\]</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#a)(?&lt;!\\)\[[^\[\]]*?(?!&lt;\\)\](?=\()</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#a)(?&lt;!\\)\[[^\[\]]*?(?!&lt;\\)\][ ]?(?=\[)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#a)&lt;(https?|ftp)(:\/\/[-_.!~*\'()a-zA-Z0-9;\/?:\@&amp;=+\$,%#]+)&gt;</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?#a)&lt;(mailto:)?[a-zA-Z0-9]+[a-zA-Z0-9\._-]*@[a-zA-Z0-9_-]+([a-zA-Z0-9\._-]+)+&gt;</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
